<!DOCTYPE html>

<html lang="ko" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>경기도 물정보시스템</title>
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="description" content="경기도 우리집 수돗물, 안심 물놀이 시설, 우리동네 약수터, 아름다운 물길, 수질, 수량, 기상, 통계 제공">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    
	<link rel="shortcut icon" href="common/images/favicon.ico" type="image/x-icon">

	<!-- common -->
	<link rel="stylesheet" type="text/css" href="common/plugin/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="common/css/default.css">
	<script src="common/js/jquery-1.12.4.min.js"></script>
	<script src="common/js/jquery-ui.js"></script>

	<!-- design -->
	<link rel="stylesheet" type="text/css" href="common/css/theme.css">

</head>

<body>
	<div class="container">
		<div>경기도 물정보 시스템</div>
		<ul class="mt30">
			<li><a href="map.html">1. 지도서비스</a> : </li>
			<li><a href="main.html">2. 메인</a> : 디테일 추가 예정, 검색 영역 퍼블리싱 미완료, 모바일 미완료</li>
			<!-- <li><a href="sub_01_01.html">- </a> : </li> -->
		</ul>
	</div>
	
</body>

</html>