<!DOCTYPE html>

<html lang="ko" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>경기도 물정보시스템</title>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="description" content="경기도 우리집 수돗물, 안심 물놀이 시설, 우리동네 약수터, 아름다운 물길, 수질, 수량, 기상, 통계 제공">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="shortcut icon" href="common/images/favicon.ico" type="image/x-icon">

    <!-- common -->
    <link rel="stylesheet" type="text/css" href="/common/plugin/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/common/css/default.css">
    <script src="/common/js/jquery-1.12.4.min.js"></script>
    <script src="/common/js/jquery-ui.js"></script>
    <script src="/common/js/customScript.js"></script>
    <!-- 네이버  지도 -->
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?govClientId=tzo0erifbf"></script>

    <!-- d3 and c3 -->
    <link rel="stylesheet" type="text/css" href="/common/css/c3.min.css">
    <script src="/common/js/d3.v3.min.js"></script>
    <script src="/common/js/c3.min.js"></script>
    <script src="/common/js/ChartCommon.js"></script>
    <script src="/common/js/saveSvgAsPng.js"></script>

    <!-- plugin -->
    <link rel="stylesheet" type="text/css" href="/common/plugin/slick/slick.css">
    <script src="/common/plugin/slick/slick.min.js"></script>

    <!-- design -->
    <link rel="stylesheet" type="text/css" href="/common/css/layout.css">
    <link rel="stylesheet" type="text/css" href="/common/css/theme.css">

</head>

<body>
<div id="wrapper">
    <div class="mask "></div>
    <div class="gnb_bg"></div>
    <header id="header">
        <div class="container" style="position: relative;">
            <button id="mobileMenuBtn" class="mobile_menu_btn"></button>
            <h1>
                <a href="#!" class="logo"><img src="common/images/logo.png" alt="경기도물정보시스템"/></a>
            </h1>
            <nav id="nav">
                <ul>
                    <li class="depth1">
                        <a href="#!">생활 속 물정보</a>
                        <div class="subnav">
                            <ul>
                                <li class="depth2"><a href="#!">우리집 수돗물</a>
                                    <ul>
                                        <li class="depth3"><a href="#!">상수도 보급률</a></li>
                                        <li class="depth3"><a href="#!">급수인구 현황</a></li>
                                        <li class="depth3"><a href="#!">상수도 요금현황</a></li>
                                        <li class="depth3"><a href="#!">정수시설 현황</a></li>
                                        <li class="depth3"><a href="#!">(정수)수질검사자료-정수장</a></li>
                                        <li class="depth3"><a href="#!">(정수)수질검사자료-소규모</a></li>
                                        <li class="depth3"><a href="#!">취수시설 현황</a></li>
                                        <li class="depth3"><a href="#!">(원수)수질검사자료-취수장</a></li>
                                    </ul>
                                </li>
                                <li class="depth2"><a href="#!">우리동네 약수터</a></li>
                                <li class="depth2"><a href="#!">물놀이형 수경시설</a></li>
                                <li class="depth2"><a href="#!">아름다운 물길</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="depth1">
                        <a href="#!">실시간 물정보</a>
                        <div class="subnav">
                            <ul>
                                <li class="depth2"><a href="#!">주요하천 수질현황</a></li>
                                <li class="depth2"><a href="#!">수질</a>
                                    <ul>
                                        <li class="depth3"><a href="#!">하천</a></li>
                                        <li class="depth3"><a href="#!">호소</a></li>
                                        <li class="depth3"><a href="#!">농업용수</a></li>
                                        <li class="depth3"><a href="#!">공단배수</a></li>
                                        <li class="depth3"><a href="#!">도시관류</a></li>
                                    </ul>
                                </li>
                                <li class="depth2"><a href="#!">수량</a>
                                    <ul>
                                        <li class="depth3"><a href="#!">강우량</a></li>
                                        <li class="depth3"><a href="#!">수위</a></li>
                                        <li class="depth3"><a href="#!">유량</a></li>
                                        <li class="depth3"><a href="#!">댐수위</a></li>
                                        <li class="depth3"><a href="#!">저수지</a></li>
                                    </ul>
                                </li>
                                <li class="depth2"><a href="#!">기상</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="depth1">
                        <a href="#!">도민참여 정보</a>
                        <div class="subnav">
                            <ul>
                                <li class="depth2"><a href="#!">노후 수도관 개량지원</a></li>
                                <li class="depth2"><a href="#!">수돗물 수질검사 신청</a></li>
                                <li class="depth2"><a href="#!">지역 민간단체 활동지원</a>
                                    <ul>
                                        <li class="depth3"><a href="#!">물환경 거버넌스 운영</a></li>
                                        <li class="depth3"><a href="#!">미래세대 물환경 교육</a></li>
                                        <li class="depth3"><a href="#!">팔당수계 하천정화활동</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="depth1">
                        <a href="#!">팔당전망대</a>
                        <div class="subnav">
                            <ul>
                                <li class="depth2"><a href="#!">팔당전망대 운영안내</a></li>
                                <li class="depth2"><a href="#!">단체 관람 신청</a></li>
                                <li class="depth2"><a href="#!">팔당호 역사 관광지</a></li>
                                <li class="depth2"><a href="#!">찾아오시는 길</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="depth1">
                        <a href="#!">자료마당</a>
                        <div class="subnav">
                            <ul>
                                <li class="depth2"><a href="#!">공지사항</a></li>
                                <li class="depth2"><a href="#!">환경자료</a>
                                    <ul>
                                        <li class="depth3"><a href="#!">환경 용어</a></li>
                                        <li class="depth3"><a href="#!">환경 상식</a></li>
                                        <li class="depth3"><a href="#!">우리동네 환경단체</a></li>
                                    </ul>
                                </li>
                                <li class="depth2"><a href="#!">경기도 물 통계</a>
                                    <ul>
                                        <li class="depth3"><a href="#!">하천</a></li>
                                        <li class="depth3"><a href="#!">상수도</a></li>
                                        <li class="depth3"><a href="#!">하수도</a></li>
                                        <li class="depth3"><a href="#!">분뇨처리시설</a></li>
                                    </ul>
                                </li>
                                <li class="depth2"><a href="#!">수자원백서</a></li>
                                <li class="depth2"><a href="#!">보건환경연구원자료</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="depth1"><a href="#!">지도서비스</a>
                        <div class="subnav"></div>
                    </li>
                </ul>
            </nav>
            <button id="topSearchBtn" class="search_btn"></button>
        </div>
    </header>

    <!-- 모바일 메뉴 -->
    <div id="mobileNav" class="mobile_menu">
        <ul>
            <li class="depth1 on">
                <a href="#!">생활 속 물정보</a>
                <div class="subnav">
                    <ul>
                        <li class="depth2 drops on"><a href="#!">우리집 수돗물</a>
                            <ul>
                                <li class="depth3"><a href="#!">상수도 보급률</a></li>
                                <li class="depth3"><a href="#!">급수인구 현황</a></li>
                                <li class="depth3"><a href="#!">상수도 요금현황</a></li>
                                <li class="depth3"><a href="#!">정수시설 현황</a></li>
                                <li class="depth3"><a href="#!">(정수)수질검사자료-정수장</a></li>
                                <li class="depth3"><a href="#!">(정수)수질검사자료-소규모</a></li>
                                <li class="depth3"><a href="#!">취수시설 현황</a></li>
                                <li class="depth3"><a href="#!">(원수)수질검사자료-취수장</a></li>
                            </ul>
                        </li>
                        <li class="depth2"><a href="#!">우리동네 약수터</a></li>
                        <li class="depth2"><a href="#!">물놀이형 수경시설</a></li>
                        <li class="depth2"><a href="#!">아름다운 물길</a></li>
                    </ul>
                </div>
            </li>
            <li class="depth1">
                <a href="#!">실시간 물정보</a>
                <div class="subnav">
                    <ul>
                        <li class="depth2"><a href="#!">주요하천 수질현황</a></li>
                        <li class="depth2"><a href="#!">수질</a>
                            <ul>
                                <li class="depth3"><a href="#!">하천</a></li>
                                <li class="depth3"><a href="#!">호소</a></li>
                                <li class="depth3"><a href="#!">농업용수</a></li>
                                <li class="depth3"><a href="#!">공단배수</a></li>
                                <li class="depth3"><a href="#!">도시관류</a></li>
                            </ul>
                        </li>
                        <li class="depth2"><a href="#!">수량</a>
                            <ul>
                                <li class="depth3"><a href="#!">강우량</a></li>
                                <li class="depth3"><a href="#!">수위</a></li>
                                <li class="depth3"><a href="#!">유량</a></li>
                                <li class="depth3"><a href="#!">댐수위</a></li>
                                <li class="depth3"><a href="#!">저수지</a></li>
                            </ul>
                        </li>
                        <li class="depth2"><a href="#!">기상</a></li>
                    </ul>
                </div>
            </li>
            <li class="depth1">
                <a href="#!">도민참여 정보</a>
                <div class="subnav">
                    <ul>
                        <li class="depth2"><a href="#!">노후 수도관 개량지원</a></li>
                        <li class="depth2"><a href="#!">수돗물 수질검사 신청</a></li>
                        <li class="depth2"><a href="#!">지역 민간단체 활동지원</a>
                            <ul>
                                <li class="depth3"><a href="#!">물환경 거버넌스 운영</a></li>
                                <li class="depth3"><a href="#!">미래세대 물환경 교육</a></li>
                                <li class="depth3"><a href="#!">팔당수계 하천정화활동</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="depth1">
                <a href="#!">팔당전망대</a>
                <div class="subnav">
                    <ul>
                        <li class="depth2"><a href="#!">팔당전망대 운영안내</a></li>
                        <li class="depth2"><a href="#!">단체 관람 신청</a></li>
                        <li class="depth2"><a href="#!">팔당호 역사 관광지</a></li>
                        <li class="depth2"><a href="#!">찾아오시는 길</a></li>
                    </ul>
                </div>
            </li>
            <li class="depth1">
                <a href="#!">자료마당</a>
                <div class="subnav">
                    <ul>
                        <li class="depth2"><a href="#!">공지사항</a></li>
                        <li class="depth2"><a href="#!">환경자료</a>
                            <ul>
                                <li class="depth3"><a href="#!">환경 용어</a></li>
                                <li class="depth3"><a href="#!">환경 상식</a></li>
                                <li class="depth3"><a href="#!">우리동네 환경단체</a></li>
                            </ul>
                        </li>
                        <li class="depth2"><a href="#!">경기도 물 통계</a>
                            <ul>
                                <li class="depth3"><a href="#!">하천</a></li>
                                <li class="depth3"><a href="#!">상수도</a></li>
                                <li class="depth3"><a href="#!">하수도</a></li>
                                <li class="depth3"><a href="#!">분뇨처리시설</a></li>
                            </ul>
                        </li>
                        <li class="depth2"><a href="#!">수자원백서</a></li>
                        <li class="depth2"><a href="#!">보건환경연구원자료</a></li>
                    </ul>
                </div>
            </li>
            <li class="depth1"><a href="#!">지도서비스</a>
                <div class="subnav"></div>
            </li>
        </ul>
    </div>
    <!-- //모바일 메뉴 -->

    <!-- 상단 검색 영역 -->
    <div id="searchArea" class="">
        <div class="search_inner">
            <div class="search_box">
                <input type="text" class="" name="waterSearchText" id="waterSearchText" placeholder="검색어를 입력해 주세요"
                       value="">
                <button type="submit" class="searchButton"><i class="tpg-search"></i></button>
            </div>
            <div class="search_detail_wrap">
                <div>
                    <span class="search_detail_label">검색기간</span>
                    <div id="calendar" class="search_detail_calendar mt5">
                        <div class="">
                            <input type="date" name="waterSearchStartDate" id="waterSearchStartDate" class="input mr10"
                                   value="">
                            <input type="date" name="waterSearchEndDate" id="waterSearchEndDate" class="input" value="">
                        </div>
                        <div class="scbtwrap">
                            <button type="button" class="scbtnn active" onclick="fn_doTopWeek();">1주</button>
                            <span>/</span>
                            <button type="button" class="scbtnn" onclick="fn_doTopMonth();">1개월</button>
                            <span>/</span>
                            <button type="button" class="scbtnn" onclick="fn_doTopYear();">1년</button>
                        </div>
                    </div>
                </div>
                <div class="mt30">
                    <span class="search_detail_label">검색방법</span>
                    <div class="mt5">
                        <input type="text" name="waterSearchOptBadText" id="waterSearchOptBadText"
                               class="input textexpt" value="">
                        <label for="waterSearchOptBadChk" class="ml10">
                            <input type="checkbox" name="waterSearchOptBadChk" id="waterSearchOptBadChk" class="chkbb2"
                                   value="Y">
                            제외되는 단어
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //상단 검색 영역 -->


    <div class="container">
        <div id="sub_contents">
            <aside id="side_nav">
                <div class="page_label"><h3>생활 속 물정보</h3></div>
                <nav class="lnb">
                    <ul>
                        <li class="depth2 drops on"><a href="#!"><span>우리집 수돗물</span></a>
                            <ul class="on">
                                <li class="depth3"><a href="#!"><span>상수도 보급률</span></a></li>
                                <li class="depth3"><a href="#!"><span>급수인구 현황</span></a></li>
                                <li class="depth3"><a href="#!"><span>상수도 요금현황</span></a></li>
                                <li class="depth3"><a href="#!"><span>정수시설 현황</span></a></li>
                                <li class="depth3"><a href="#!"><span>(정수)수질검사자료-정수장</span></a></li>
                                <li class="depth3"><a href="#!"><span>(정수)수질검사자료-소규모</span></a></li>
                                <li class="depth3"><a href="#!"><span>취수시설 현황</span></a></li>
                                <li class="depth3"><a href="#!"><span>(원수)수질검사자료-취수장</span></a></li>
                            </ul>
                        </li>
                        <li class="depth2"><a href="#!"><span>우리동네 약수터</span></a></li>
                        <li class="depth2"><a href="#!"><span>물놀이형 수경시설</span></a></li>
                        <li class="depth2"><a href="#!"><span>아름다운 물길</span></a></li>
                    </ul>
                </nav>
            </aside>

            <div class="sub_contents">
                <div class="sub_header">
                    <h4>우리집 수돗물</h4>
                    <ol class="breadcrumb">
                        <li class="home"><a href="#!"><span class="sr-only">홈으로</span></a></li>
                        <li><a href="#!">생활 속 물정보</a></li>
                        <li><a href="#!">우리집 수돗물</a></li>
                    </ol>
                </div>

                <!-- contents -->
                <div class="contents">
                    <div class="ourWater">
                        <div class="">
                            <div class="title bg_blue">수돗물 요금 (가정용)</div>
                            <div class="ourWaterCon">
                                <div class="left">
                                    <div class="icon"><img src="/common/images/ico_3.png" alt=""/></div>
                                    <p>512<span>원/m³</span></p>
                                </div>
                                <div class="right">
                                    <table class="tbl">
                                        <colgroup>
                                            <col style="width:50%">
                                            <col style="width:50%">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>분류</th>
                                            <th>평균 요금 (원/m³)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th>최고</th>
                                            <td class="text-center">955</td>
                                        </tr>
                                        <tr>
                                            <th>평균</th>
                                            <td class="text-center">564</td>
                                        </tr>
                                        <tr>
                                            <th>최저</th>
                                            <td class="text-center">282</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="title bg_green">상수도 보급률</div>
                            <div class="ourWaterCon">
                                <div class="left">
                                    <div class="icon"><img src="/common/images/ico_4.png" alt=""/></div>
                                    <p>96<span>%</span></p>
                                </div>
                                <div class="right">
                                    <table class="tbl">
                                        <colgroup>
                                            <col style="width:50%">
                                            <col style="width:50%">
                                        </colgroup>
                                        <thead>
                                        <tr>
                                            <th>분류</th>
                                            <th>보급률(%)</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th>최고</th>
                                            <td class="text-center">100</td>
                                        </tr>
                                        <tr>
                                            <th>평균</th>
                                            <td class="text-center">96</td>
                                        </tr>
                                        <tr>
                                            <th>최저</th>
                                            <td class="text-center">77</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="water_region_info mt40">
                        <div class="title">
                            <h5 class="h5Tit">내지역 물정보 <strong>(가평군)</strong></h5>
                            <div class="region_select">
                                <span>경기도</span>
                                <select class="form_select"> <!--시군구 선택박스-->
                                    <option value="">전체</option>
                                    <option value="수원시">수원시</option>
                                    <option value="용인시">용인시</option>
                                    <option value="고양시">고양시</option>
                                    <option value="화성시">화성시</option>
                                    <option value="성남시">성남시</option>
                                    <option value="부천시">부천시</option>
                                    <option value="남양주시">남양주시</option>
                                    <option value="안산시">안산시</option>
                                    <option value="평택시">평택시</option>
                                    <option value="안양시">안양시</option>
                                    <option value="시흥시">시흥시</option>
                                    <option value="파주시">파주시</option>
                                    <option value="김포시">김포시</option>
                                    <option value="의정부시">의정부시</option>
                                    <option value="광주시">광주시</option>
                                    <option value="하남시">하남시</option>
                                    <option value="광명시">광명시</option>
                                    <option value="군포시">군포시</option>
                                    <option value="양주시">양주시</option>
                                    <option value="오산시">오산시</option>
                                    <option value="이천시">이천시</option>
                                    <option value="안성시">안성시</option>
                                    <option value="구리시">구리시</option>
                                    <option value="의왕시">의왕시</option>
                                    <option value="포천시">포천시</option>
                                    <option value="양평군">양평군</option>
                                    <option value="여주시">여주시</option>
                                    <option value="동두천시">동두천시</option>
                                    <option value="과천시">과천시</option>
                                    <option value="가평군">가평군</option>
                                    <option value="연천군">연천군</option>
                                </select>
                            </div>
                        </div>
                        <div class="con_box">
                            <div class="waterData">
                                <div class="st">
                                    <a href="#" class="icon"><img src="/common/images/ico_1.png" alt=""/></a>
                                    <p><span>가평통합</span>정수장</p>
                                </div>
                                <div class="dashed"></div>
                                <div class="fi">
                                    <a href="#!" class="icon"><img src="/common/images/ico_2.png" alt=""/></a>
                                    <p>가평군</p>
                                </div>
                            </div>
                        </div>
                        <div class="mt35">
                            <p class="tr">※ 2020년 11월</p>
                            <table class="tbl">
                                <colgroup>
                                    <col style="width:33.3%;">
                                    <col style="width:33.3%;">
                                    <col style="width:33.3%;">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>일반 세균 (기준: 100)</th>
                                    <th>잔류염소 (기준: 0.1~4)</th>
                                    <th>염소이온 (기준: 500)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="text-center">0.000 CFU/mL</td>
                                    <td class="text-center">0.312 mg/L</td>
                                    <td class="text-center">0.000 mg/L</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="mt40">
                        <div class="d-flex justify-content-between">
                            <h5 class="h5Tit"><span>가평군</span>의 <strong>가평통합 정수장</strong>의 급수 구역입니다.</h5>
                            <p class="txt_alert">실제 데이터와 일부 다를 수 있습니다.</p>
                        </div>
                        <div class="contents_map_wrap">
                            <div class="contents_map" id="sampleMap"></div>

                            <!-- 범례1_타이틀 형태 -->
                            <div class="map_title">정수장의 급수구역</div>
                            <!-- //범례1_타이틀 형태 -->
                        </div>
                    </div>
                    <script>

                        // 지역 GeoJSON 데이터를 담을 배열과 로딩 개수를 추적할 변수 선언
                        var regionGeoJson = [],
                            loadCount = 0;

                        // 네이버 지도 객체 생성
                        var map = new naver.maps.Map(document.getElementById('sampleMap'), {
                            zoom: 7, // 초기 확대 레벨
                            mapTypeId: 'normal', // 일반 지도 타입
                            center: new naver.maps.LatLng(36.4203004, 128.317960) // 지도 중심 좌표 (대한민국 중부)
                        });

                        // 지도 초기화가 완료되었을 때 단 한 번 실행되는 콜백 함수 등록
                        naver.maps.Event.once(map, 'init', function () {
                            var keyword = '01'; // 키워드 설정 (현재는 사용되지 않음)

                            // GeoJSON 파일 비동기 로드 (경기도 지역)
                            //https://water.gg.go.kr/geoserver/GWMS_works/ows?service=WFS&version=1.1.0&request=GetFeature&typeName=GWMS_works:SIGUNGU&outputFormat=application/json&SRSNAME=EPSG:4326
                            $.ajax({
                                url: 'http://localhost/data/경기도.json', // 지역별 GeoJSON 파일 경로 https://water.gg.go.kr/geoserver/GWMS_works/ows?service=WFS&version=1.1.0&request=GetFeature&typeName=GWMS_works:SIGUNGU&outputFormat=application/json&SRSNAME=EPSG:4326
                                success: function (geojson) {
                                    regionGeoJson[0] = geojson; // 데이터 저장
                                    console.log(regionGeoJson); // 디버깅용 출력
                                    loadCount++;

                                    // 모든 데이터를 다 불러왔을 때만 지도에 레이어 표시 시작
                                    if (loadCount === 1) {
                                        startDataLayer();
                                    }
                                }
                            });
                        });

                        // 지도 위에 나타날 툴팁(div 엘리먼트) 생성
                        var tooltip = $('<div style="position:absolute;z-index:1000;padding:5px 10px;background-color:#fff;border:solid 2px #000;font-size:14px;pointer-events:none;display:none;"></div>');

                        // 툴팁을 지도 floatPane(레이어 중 하나)에 추가
                        tooltip.appendTo(map.getPanes().floatPane);

                        // GeoJSON 데이터를 지도에 스타일링해서 뿌려주는 함수
                        function startDataLayer() {
                            // feature별로 스타일 지정
                            map.data.setStyle(function (feature) {
                                var regionName = feature.getProperty('SIGUNGU_NM');


                                var styleOptions = {
                                    fillColor: '#ff0000',     // 기본 빨간색 채우기
                                    fillOpacity: 0.0001,      // 거의 투명
                                    strokeColor: '#ff0000',   // 테두리 색
                                    strokeWeight: 2,          // 테두리 두께
                                    strokeOpacity: 0.4        // 테두리 투명도
                                };

                                // 가평군일 때만 빨간색으로 꽉 채우기
                                if (regionName === '가평군') {
                                    styleOptions.fillOpacity = 0.6;
                                }
                                // focus 속성이 true인 경우 강조 스타일 적용
                                if (feature.getProperty('focus')) {
                                    styleOptions.fillOpacity = 0.6;
                                    styleOptions.fillColor = '#0f0';     // 초록색 강조
                                    styleOptions.strokeColor = '#0f0';
                                    styleOptions.strokeWeight = 4;
                                    styleOptions.strokeOpacity = 1;
                                }
                                // 특정 지역만 색을 채우기
                                if (feature.getProperty('fill') === true) {
                                    styleOptions.fillOpacity = 0.5; // 꽉 채우기
                                }

                                return styleOptions;
                            });

                            // 불러온 GeoJSON 데이터를 지도에 추가
                            regionGeoJson.forEach(function (geojson) {
                                map.data.addGeoJson(geojson);
                            });

                            // feature 클릭 시 강조/비강조 토글
                            map.data.addListener('click', function (e) {
                                var feature = e.feature;

                                if (feature.getProperty('focus') !== true) {
                                    feature.setProperty('focus', true);  // 강조
                                } else {
                                    feature.setProperty('focus', false); // 비강조
                                }
                            });

                            // 마우스를 feature 위에 올렸을 때 툴팁 표시 + 임시 스타일 강조
                            map.data.addListener('mouseover', function (e) {
                                var feature = e.feature,
                                    regionName = feature.getProperty('SIGUNGU_NM'); // 지역명 속성 추출

                                //console.log(feature); // feature 객체 확인

                                // 툴팁 위치 및 텍스트 설정
                                tooltip.css({
                                    display: '',
                                    left: e.offset.x,
                                    top: e.offset.y
                                }).text(regionName + '안녕하세요');

                                // 마우스 오버 시 임시 스타일 적용
                                map.data.overrideStyle(feature, {
                                    fillOpacity: 0.6,
                                    strokeWeight: 4,
                                    strokeOpacity: 1
                                });
                            });

                            // 마우스가 feature를 벗어났을 때 툴팁 숨기고 원래 스타일로 복구
                            map.data.addListener('mouseout', function (e) {
                                tooltip.hide().empty();
                                map.data.revertStyle();
                            });
                        }


                    </script>

                    <div class="mt40">
                        <ul class="tab_menu mb30" role="tablist">
                            <li role="presentation" class="tab_item active"><a href="#tabCon1"><span>보급률</span></a></li>
                            <li role="presentation" class="tab_item"><a href="#tabCon2"><span>수도요금</span></a></li>
                            <li role="presentation" class="tab_item"><a href="#tabCon3"><span>수돗물 생산량</span></a></li>
                        </ul>
                        <div class="tab_con_wrap">
                            <div id="tabCon1" class="tab_con active">
                                <div class="d-flex justify-content-between">
                                    <h6 class="h6Tit">시군구별 보급률</h6>
                                    <button class="btn_ico_download" type="button" title="이미지로 저장하기"></button>
                                </div>
                                <div class="con_line_box">
                                    <div id="chart01"></div>
                                </div>
                            </div>
                            <script>
                                var data = [10, 15, 20, 25, 30]; // 예시 데이터

                                var width = 400;
                                var height = 300;
                                var margin = {top: 20, right: 20, bottom: 30, left: 40};

                                var x = d3.scale.ordinal()
                                    .domain(data.map(function (d, i) {
                                        return "항목" + (i + 1);
                                    }))
                                    .rangeBands([margin.left, width - margin.right], 0.1);

                                var y = d3.scale.linear()
                                    .domain([0, d3.max(data)])
                                    .range([height - margin.bottom, margin.top]);

                                var svg = d3.select("#chart01")
                                    .append("svg")
                                    .attr("width", width)
                                    .attr("height", height);

                                // 막대 그리기
                                svg.selectAll("rect")
                                    .data(data)
                                    .enter()
                                    .append("rect")
                                    .attr("x", function (d, i) {
                                        return x("항목" + (i + 1));
                                    })
                                    .attr("y", function (d) {
                                        return y(d);
                                    })
                                    .attr("width", x.rangeBand())
                                    .attr("height", function (d) {
                                        return height - margin.bottom - y(d);
                                    })
                                    .attr("fill", "#69b3a2");

                                // X축
                                svg.append("g")
                                    .attr("transform", "translate(0," + (height - margin.bottom) + ")")
                                    .call(d3.svg.axis().scale(x).orient("bottom"));

                                // Y축
                                svg.append("g")
                                    .attr("transform", "translate(" + margin.left + ",0)")
                                    .call(d3.svg.axis().scale(y).orient("left"));
                            </script>
                            <div id="tabCon2" class="tab_con">
                                <div class="d-flex justify-content-between">
                                    <h6 class="h6Tit">시군구별 수도요금</h6>
                                    <button class="btn_ico_download" type="button" title="이미지로 저장하기"></button>
                                </div>
                                <div class="con_line_box">
                                    <div id="chart03"></div>
                                </div>
                            </div>
                            <div id="tabCon3" class="tab_con">
                                <div class="d-flex justify-content-between">
                                    <h6 class="h6Tit">시군구별 수돗물 생산량</h6>
                                    <button class="btn_ico_download" type="button" title="이미지로 저장하기"></button>
                                </div>
                                <div class="con_line_box">
                                    <div id="chart04"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 담당자 정보 -->
                    <div class="manager">
                        <p><span>부서명</span>상하수과</p>
                        <p><span>전화번호</span>031-8008-6990</p>
                    </div>
                    <!-- //담당자 정보 -->
                </div>
                <!-- //contents -->

                <!-- Modal -->
                <div class="modal" id="subModal">
                    <div class="popup">
                        <p class="pop_top">
                            상세정보<a href="#!" class="btnpClose"><img src="/html/iwmis/images/btn_close.png" alt="닫기"></a>
                        </p>
                        <div class="p_cont">


                        </div>
                    </div>
                </div>
                <!-- //Modal -->
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer_etc">
            <div class="container">
                <div class="footer_inner">
                    <div>
                        <p class="f_logo">경기도 수자원본부</p>
                        <span>(우)12708 광주시 남종면 산수로 1692 / TEL 8008-6933 <Br/>COPYRIGHT© 2025 경기도수자원본부. ALL RIGHTS RESERVED.</span>
                    </div>
                    <a href="#!" class="fmy_btn">패밀리 사이트</a>
                </div>
            </div>
        </div>
        <div id="fmy_box" class="fmy_box">
            <div>
                <p>도 관련기관</p>
                <ul>
                    <li><a target="_blank" href="https://www.gg.go.kr/">경기도청</a></li>
                    <li><a target="_blank" href="https://www.gg.go.kr/contents/contents.do?ciIdx=937&amp;menuId=2599">경기도
                        수자원본부</a></li>
                    <li><a target="_blank" href="https://www.gg.go.kr/gg_health">경기도보건환경연구원</a></li>
                    <li><a target="_blank" href="https://www.gri.re.kr/">경기연구원</a></li>
                    <li><a target="_blank" href="https://gto.or.kr/">경기관광공사</a></li>
                    <li><a target="_blank" href="http://www.gwisc.or.kr/">경기도물산업지원센터</a></li>
                    <li><a target="_blank" href="http://www.paldang.or.kr/index.php">특별대책지역수질보전협의회</a></li>
                </ul>
            </div>
            <div>
                <p>중앙관련기관</p>
                <ul>
                    <li><a target="_blank" href="http://www.me.go.kr/">환경부</a></li>
                    <li><a target="_blank" href="http://www.molit.go.kr/">국토교통부</a></li>
                    <li><a target="_blank" href="https://www.weather.go.kr/w/index.do">기상청</a></li>
                    <li><a target="_blank" href="https://nier.go.kr/">국립환경과학원</a></li>
                    <li><a target="_blank" href="http://www.hrfco.go.kr/">홍수통제소</a></li>
                    <li><a target="_blank" href="https://www.nier.go.kr/NIER/egovHanIndex.jsp">물환경연구소</a></li>
                    <li><a target="_blank" href="https://www.ekr.or.kr">한국농어촌공사</a></li>
                    <li><a target="_blank" href="https://www.kwater.or.kr/">한국수자원공사</a></li>
                    <li><a target="_blank" href="https://www.keco.or.kr/">한국환경공단</a></li>
                    <li><a target="_blank" href="http://www.khnp.co.kr/">한국수력원자력</a></li>
                </ul>
            </div>
            <div>
                <p>물관련시스템</p>
                <ul>
                    <li><a target="_blank" href="http://water.nier.go.kr">물환경정보시스템</a></li>
                    <li><a target="_blank" href="https://www.waternow.go.kr/web">국가상수도정보시스템</a></li>
                    <li><a target="_blank" href="https://www.hasudoinfo.or.kr/">국가하수도정보시스템</a></li>
                    <li><a target="_blank" href="https://www.gims.go.kr/">국가지하수정보센터</a></li>
                    <li><a target="_blank" href="http://www.wamis.go.kr/">국가수자원관리종합정보시스템</a></li>
                    <li><a target="_blank" href="http://floodmap.go.kr">홍수위험지도정보시스템</a></li>
                    <li><a target="_blank" href="http://rawris.ekr.or.kr/main.do">농촌용수종합정보시스템</a></li>
                    <li><a target="_blank" href="http://sgis.nier.go.kr/">토양지하수정보시스템</a></li>
                    <li><a target="_blank" href="http://www.water.or.kr/">물정보포털(MyWater)</a></li>
                    <li><a target="_blank" href="http://14.63.69.206:50085">팔당수계물정보시스템</a></li>
                </ul>
            </div>
            <div>
                <p>시/군 홈페이지</p>
                <ul class="fmy_grid">
                    <li><a target="_blank" href="http://www.suwon.go.kr/">수원시</a></li>
                    <li><a target="_blank" href="https://www.yongin.go.kr/">용인시</a></li>
                    <li><a target="_blank" href="http://www.goyang.go.kr/">고양시</a></li>
                    <li><a target="_blank" href="http://www.hscity.go.kr/">화성시</a></li>
                    <li><a target="_blank" href="http://www.seongnam.go.kr/">성남시</a></li>
                    <li><a target="_blank" href="http://www.bucheon.go.kr/">부천시</a></li>
                    <li><a target="_blank" href="http://www.nyj.go.kr/">남양주시</a></li>
                    <li><a target="_blank" href="http://www.ansan.go.kr/">안산시</a></li>
                    <li><a target="_blank" href="http://www.pyeongtaek.go.kr/">평택시</a></li>
                    <li><a target="_blank" href="http://www.anyang.go.kr/">안양시</a></li>
                    <li><a target="_blank" href="http://www.siheung.go.kr/">시흥시</a></li>
                    <li><a target="_blank" href="http://www.paju.go.kr/">파주시</a></li>
                    <li><a target="_blank" href="http://www.gimpo.go.kr/">김포시</a></li>
                    <li><a target="_blank" href="https://www.ui4u.go.kr/">의정부시</a></li>
                    <li><a target="_blank" href="https://www.gjcity.go.kr/">광주시</a></li>
                    <li><a target="_blank" href="http://www.hanam.go.kr/">하남시</a></li>
                    <li><a target="_blank" href="http://www.gm.go.kr/">광명시</a></li>
                    <li><a target="_blank" href="http://www.gunpo.go.kr/">군포시</a></li>
                    <li><a target="_blank" href="http://www.yangju.go.kr/">양주시</a></li>
                    <li><a target="_blank" href="http://www.osan.go.kr/">오산시</a></li>
                    <li><a target="_blank" href="http://www.icheon.go.kr/">이천시</a></li>
                    <li><a target="_blank" href="https://www.anseong.go.kr/">안성시</a></li>
                    <li><a target="_blank" href="http://www.guri.go.kr/">구리시</a></li>
                    <li><a target="_blank" href="http://www.uiwang.go.kr/">의왕시</a></li>
                    <li><a target="_blank" href="http://www.pocheon.go.kr/">포천시</a></li>
                    <li><a target="_blank" href="http://www.yp21.go.kr/">양평군</a></li>
                    <li><a target="_blank" href="http://www.yeoju.go.kr/">여주시</a></li>
                    <li><a target="_blank" href="http://www.ddc.go.kr/">동두천시</a></li>
                    <li><a target="_blank" href="http://www.gccity.go.kr/">과천시</a></li>
                    <li><a target="_blank" href="http://www.gp.go.kr/">가평군</a></li>
                    <li><a target="_blank" href="http://www.yeoncheon.go.kr/">연천군</a></li>
                </ul>
            </div>
        </div>
        <script>
            $('.fmy_btn').click(function () {
                $('#fmy_box').toggleClass('open');
            });
        </script>
    </footer>
</div>
</body>

</html>