<!DOCTYPE html>

<html lang="ko" class="">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>경기도 물정보시스템</title>
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="description" content="경기도 우리집 수돗물, 안심 물놀이 시설, 우리동네 약수터, 아름다운 물길, 수질, 수량, 기상, 통계 제공">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	<link rel="shortcut icon" href="common/images/favicon.ico" type="image/x-icon">

	<!-- common -->
	<link rel="stylesheet" type="text/css" href="common/plugin/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="common/css/default.css">
	<script src="common/js/jquery-1.12.4.min.js"></script>
	<script src="common/js/jquery-ui.js"></script>
	<script src="common/js/customScript.js"></script>
	
	<!-- apex chart lib -->
	<script src="common/js/apexchart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<!-- plugin -->
	<link rel="stylesheet" type="text/css" href="common/plugin/slick/slick.css">
	<script src="common/plugin/slick/slick.min.js"></script>
	
	<!-- design -->
	<link rel="stylesheet" type="text/css" href="common/css/layout.css">
	<link rel="stylesheet" type="text/css" href="common/css/theme.css">

</head>

<body>
	<div id="wrapper">
		<div class="mask "></div>
		<div class="gnb_bg"></div>
		<header id="header">
			<div class="container" style="position: relative;">
				<button id="mobileMenuBtn" class="mobile_menu_btn"></button>
				<h1>
					<a href="#!" class="logo"><img src="./common/images/logo.png" alt="경기도물정보시스템"/></a>
				</h1>
				<nav id="nav">
					<ul>
						<li class="depth1">
							<a href="#!">생활 속 물정보</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">우리집 수돗물</a>
										<ul>
											<li class="depth3"><a href="#!">상수도 보급률</a></li>
											<li class="depth3"><a href="#!">급수인구 현황</a></li>
											<li class="depth3"><a href="#!">상수도 요금현황</a></li>
											<li class="depth3"><a href="#!">정수시설 현황</a></li>
											<li class="depth3"><a href="#!">(정수)수질검사자료-정수장</a></li>
											<li class="depth3"><a href="#!">(정수)수질검사자료-소규모</a></li>
											<li class="depth3"><a href="#!">취수시설 현황</a></li>
											<li class="depth3"><a href="#!">(원수)수질검사자료-취수장</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">우리동네 약수터</a></li>
									<li class="depth2"><a href="#!">물놀이형 수경시설</a></li>
									<li class="depth2"><a href="#!">아름다운 물길</a></li>
								</ul>
							</div>
						</li>
						<li class="depth1">
							<a href="#!">실시간 물정보</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">주요하천 수질현황</a></li>
									<li class="depth2"><a href="#!">수질</a>
										<ul>
											<li class="depth3"><a href="#!">하천</a></li>
											<li class="depth3"><a href="#!">호소</a></li>
											<li class="depth3"><a href="#!">농업용수</a></li>
											<li class="depth3"><a href="#!">공단배수</a></li>
											<li class="depth3"><a href="#!">도시관류</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">수량</a>
										<ul>
											<li class="depth3"><a href="#!">강우량</a></li>
											<li class="depth3"><a href="#!">수위</a></li>
											<li class="depth3"><a href="#!">유량</a></li>
											<li class="depth3"><a href="#!">댐수위</a></li>
											<li class="depth3"><a href="#!">저수지</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">기상</a></li>
								</ul>
							</div>
						</li>
						<li class="depth1">
							<a href="#!">도민참여 정보</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">노후 수도관 개량지원</a></li>
									<li class="depth2"><a href="#!">수돗물 수질검사 신청</a></li>
									<li class="depth2"><a href="#!">지역 민간단체 활동지원</a>
										<ul>
											<li class="depth3"><a href="#!">물환경 거버넌스 운영</a></li>
											<li class="depth3"><a href="#!">미래세대 물환경 교육</a></li>
											<li class="depth3"><a href="#!">팔당수계 하천정화활동</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</li>
						<li class="depth1">
							<a href="#!">팔당전망대</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">팔당전망대 운영안내</a></li>
									<li class="depth2"><a href="#!">단체 관람 신청</a></li>
									<li class="depth2"><a href="#!">팔당호 역사 관광지</a></li>
									<li class="depth2"><a href="#!">찾아오시는 길</a></li>
								</ul>
							</div>
						</li>
						<li class="depth1">
							<a href="#!">자료마당</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">공지사항</a></li>
									<li class="depth2"><a href="#!">환경자료</a>
										<ul>
											<li class="depth3"><a href="#!">환경 용어</a></li>
											<li class="depth3"><a href="#!">환경 상식</a></li>
											<li class="depth3"><a href="#!">우리동네 환경단체</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">경기도 물 통계</a>
										<ul>
											<li class="depth3"><a href="#!">하천</a></li>
											<li class="depth3"><a href="#!">상수도</a></li>
											<li class="depth3"><a href="#!">하수도</a></li>
											<li class="depth3"><a href="#!">분뇨처리시설</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">수자원백서</a></li>
									<li class="depth2"><a href="#!">보건환경연구원자료</a></li>
								</ul>
							</div>
						</li>
						<li class="depth1"><a href="#!">지도서비스</a>
							<div class="subnav"></div>
						</li>
					</ul>
				</nav>
				<button id="topSearchBtn" class="search_btn"></button>
			</div>
		</header>

		<!-- 모바일 메뉴 -->
		<div id="mobileNav" class="mobile_menu">
			<ul>
				<li class="depth1 on">
					<a href="#!">생활 속 물정보</a>
					<div class="subnav">
						<ul>
							<li class="depth2 drops on"><a href="#!">우리집 수돗물</a>
								<ul>
									<li class="depth3"><a href="#!">상수도 보급률</a></li>
									<li class="depth3"><a href="#!">급수인구 현황</a></li>
									<li class="depth3"><a href="#!">상수도 요금현황</a></li>
									<li class="depth3"><a href="#!">정수시설 현황</a></li>
									<li class="depth3"><a href="#!">(정수)수질검사자료-정수장</a></li>
									<li class="depth3"><a href="#!">(정수)수질검사자료-소규모</a></li>
									<li class="depth3"><a href="#!">취수시설 현황</a></li>
									<li class="depth3"><a href="#!">(원수)수질검사자료-취수장</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">우리동네 약수터</a></li>
							<li class="depth2"><a href="#!">물놀이형 수경시설</a></li>
							<li class="depth2"><a href="#!">아름다운 물길</a></li>
						</ul>
					</div>
				</li>
				<li class="depth1">
					<a href="#!">실시간 물정보</a>
					<div class="subnav">
						<ul>
							<li class="depth2"><a href="#!">주요하천 수질현황</a></li>
							<li class="depth2"><a href="#!">수질</a>
								<ul>
									<li class="depth3"><a href="#!">하천</a></li>
									<li class="depth3"><a href="#!">호소</a></li>
									<li class="depth3"><a href="#!">농업용수</a></li>
									<li class="depth3"><a href="#!">공단배수</a></li>
									<li class="depth3"><a href="#!">도시관류</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">수량</a>
								<ul>
									<li class="depth3"><a href="#!">강우량</a></li>
									<li class="depth3"><a href="#!">수위</a></li>
									<li class="depth3"><a href="#!">유량</a></li>
									<li class="depth3"><a href="#!">댐수위</a></li>
									<li class="depth3"><a href="#!">저수지</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">기상</a></li>
						</ul>
					</div>
				</li>
				<li class="depth1">
					<a href="#!">도민참여 정보</a>
					<div class="subnav">
						<ul>
							<li class="depth2"><a href="#!">노후 수도관 개량지원</a></li>
							<li class="depth2"><a href="#!">수돗물 수질검사 신청</a></li>
							<li class="depth2"><a href="#!">지역 민간단체 활동지원</a>
								<ul>
									<li class="depth3"><a href="#!">물환경 거버넌스 운영</a></li>
									<li class="depth3"><a href="#!">미래세대 물환경 교육</a></li>
									<li class="depth3"><a href="#!">팔당수계 하천정화활동</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
				<li class="depth1">
					<a href="#!">팔당전망대</a>
					<div class="subnav">
						<ul>
							<li class="depth2"><a href="#!">팔당전망대 운영안내</a></li>
							<li class="depth2"><a href="#!">단체 관람 신청</a></li>
							<li class="depth2"><a href="#!">팔당호 역사 관광지</a></li>
							<li class="depth2"><a href="#!">찾아오시는 길</a></li>
						</ul>
					</div>
				</li>
				<li class="depth1">
					<a href="#!">자료마당</a>
					<div class="subnav">
						<ul>
							<li class="depth2"><a href="#!">공지사항</a></li>
							<li class="depth2"><a href="#!">환경자료</a>
								<ul>
									<li class="depth3"><a href="#!">환경 용어</a></li>
									<li class="depth3"><a href="#!">환경 상식</a></li>
									<li class="depth3"><a href="#!">우리동네 환경단체</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">경기도 물 통계</a>
								<ul>
									<li class="depth3"><a href="#!">하천</a></li>
									<li class="depth3"><a href="#!">상수도</a></li>
									<li class="depth3"><a href="#!">하수도</a></li>
									<li class="depth3"><a href="#!">분뇨처리시설</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">수자원백서</a></li>
							<li class="depth2"><a href="#!">보건환경연구원자료</a></li>
						</ul>
					</div>
				</li>
				<li class="depth1"><a href="#!">지도서비스</a>
					<div class="subnav"></div>
				</li>
			</ul>
		</div>
		<!-- //모바일 메뉴 -->

		<!-- 상단 검색 영역 -->
		<div id="searchArea" class="">
			<div class="search_inner">
				<div class="search_box">
					<input type="text" class="" name="waterSearchText" id="waterSearchText" placeholder="검색어를 입력해 주세요" value="">
					<button type="submit" class="searchButton"><i class="tpg-search"></i></button>
			  	</div>
				<div class="search_detail_wrap">
					<div>
						<span class="search_detail_label">검색기간</span>
						<div id="calendar" class="search_detail_calendar mt5">
							<div class="">
								<input type="date" name="waterSearchStartDate" id="waterSearchStartDate" class="input mr10" value="">
								<input type="date" name="waterSearchEndDate" id="waterSearchEndDate" class="input" value="">
							</div>
							<div class="scbtwrap">
								<button type="button" class="scbtnn active" onclick="fn_doTopWeek();">1주</button> 
								<span>/</span>
								<button type="button" class="scbtnn" onclick="fn_doTopMonth();">1개월</button>
								<span>/</span>
								<button type="button" class="scbtnn" onclick="fn_doTopYear();">1년</button>
							</div>
						</div>
					</div>
					<div class="mt30">
						<span class="search_detail_label">검색방법</span>
						<div class="mt5">
							<input type="text" name="waterSearchOptBadText" id="waterSearchOptBadText" class="input textexpt" value="">
							<label for="waterSearchOptBadChk" class="ml10">
								<input type="checkbox" name="waterSearchOptBadChk" id="waterSearchOptBadChk" class="chkbb2" value="Y">
								제외되는 단어
							</label> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //상단 검색 영역 -->

		
		<div class="container">
			<div id="sub_contents">
				<aside id="side_nav">
					<div class="page_label"><h3>팔당전망대</h3></div>
					<nav class="lnb">
						<ul>
							<li class="depth2"><a href="#!"><span>팔당전망대 운영안내</span></a></li>
							<li class="depth2"><a href="https://share.gg.go.kr/facilityListO/view?instiCode=6411997&facilityId=F0001" target="_blank"><span>단체 관람 신청</span></a></li>
							<li class="depth2 on"><a href="#!"><span>팔당호 역사 관광지</span></a></li>
                            <li class="depth2 "><a href="#!"><span>찾아오시는 길</span></a></li>
						</ul>
					</nav>
				</aside>

				<div class="sub_contents">
					<div class="sub_header">
						<h4>팔당호 역사 관광지</h4>
						<ol class="breadcrumb">
							<li class="home"><a href="#!"><span class="sr-only">홈으로</span></a></li>
							<li><a href="#!">팔당전망대</a></li>
							<li><a href="#!">팔당호 역사 관광지</a></li>
						</ol>
					</div>

					<!-- contents -->
					<div class="contents">

						<div class="mb60">
                            <h5 class="h5cTit mb30">‘팔당’ 유래</h5>

                            <div class="pd_">
                                <div class="pd_left">
                                    <span><img src="./common/images/origin_img01.png" alt=""/></span>
                                    <span><img src="./common/images/origin_img02.png" alt=""/></span>
                                </div>
                                <div class="pd_right">
                                    <h6 class="h6cTit">‘팔당’ 의 뜻은?</h6>
                                    <div class="txt_box">
                                        강의 양쪽 산세가 험준하고 수려하여 팔선녀가 내려와 놀던 자리라 전해진 데가 여덟 곳이 있었는데,  이후 그자리에 여덟 개의 당(堂)을 지어놓았다고 해서 ‘팔당(八堂)’이라 불리게 되었습니다.
                                    </div>

                                    <h6 class="h6cTit mt30">팔당호는 언제, 어떻게 만들어졌나요?</h6>
                                    <div class="txt_box">
                                        1973년, 남한강과 북한강의 합류지점으로부터 약 7Km 하류 지점에 팔당댐이 완공되어 인공호수인 팔당호가 생겨났습니다. 유역면적은 23,800㎢이고, 만수위 때 만수면적은 36.5㎢에 달합니다. 총 저수 용량은 2억 4,400만톤으로 연간 3억 7,800만 kw의 전력을 생산하는 데 이용되고, 한강유역의 홍수 조절 및 1일 340만톤에 이르는 수도권 용수로 공급되고 있습니다.
                                    </div>

                                    <h6 class="h6cTit mt30">팔당호가 왜 그렇게 중요한 거죠?</h6>
                                    <div class="txt_box">
                                        팔당호는 수도권 광역 상수도원으로 역할을 수행하고 있습니다. 우리가 먹는 수돗물이 바로 이곳 팔당호에서 시작됩니다. 식수와 생활용수, 공업용수를 사용하는 수도권 인구가 무려 2,600만명! 그만큼 중요하기에 팔당호는 반드시 깨끗이 보존해야 할 우리 생명의 원천이자 생명수입니다.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mb60">
                            <h5 class="h5cTit mb30">팔당전망대 주변관광지</h5>

                            <h6 class="h6Tit mb20">자연과 함께하는 아름다운 경치</h6>
                            <div class="tour_wrap">
                                <div class="tour_slide">
                                    <div class="slide">
                                        <div class="item">
                                            <img src="/common/images/tour_img01.png" alt=""/>
                                            <div class="con">
                                                <div class="num">1</div>
                                                <div class="txt">
                                                    <h6>세미원</h6>
                                                    <p>17만㎡ 부지에 조성된 수생식물원, 국사원, 가화원, 향원각이 어우러져 있음</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="item">
                                            <img src="/common/images/tour_img02.png" alt=""/>
                                            <div class="con">
                                                <div class="num">2</div>
                                                <div class="txt">
                                                    <h6>경안천 습지생태공원</h6>
                                                    <p>수변식물을 이용해 수질을 개선하는 친환경적인 공원, 탐방로를 비롯해 어류서식지, 조류관찰대 등이 조성됨</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="item">
                                            <img src="/common/images/tour_img03.png" alt=""/>
                                            <div class="con">
                                                <div class="num">3</div>
                                                <div class="txt">
                                                    <h6>광동 청정인공습지</h6>
                                                    <p>4만 4천 419㎡ 규모로, 경안천의 수질개선을 위해 조성된 인공습지</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="item">
                                            <img src="/common/images/tour_img04.png" alt=""/>
                                            <div class="con">
                                                <div class="num">4</div>
                                                <div class="txt">
                                                    <h6>두물머리</h6>
                                                    <p>북한강과 남한강의 두 물이 합쳐지는 곳으로 양수리(兩水里)로도 불림</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="item">
                                            <img src="/common/images/tour_img05.png" alt=""/>
                                            <div class="con">
                                                <div class="num">5</div>
                                                <div class="txt">
                                                    <h6>다산 산책길</h6>
                                                    <p>능원리 둘레길로 개망초, 접시꽃 등이 어우러져 신비롭고 시원한 산책길</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="item">
                                            <img src="/common/images/tour_img06.png" alt=""/>
                                            <div class="con">
                                                <div class="num">6</div>
                                                <div class="txt">
                                                    <h6>남한강 자전거길</h6>
                                                    <p>남한강 구간(인천~한강~충주) ~ 새재 ~ 낙동강을 잇는 자전거길</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="mt30 pb30"/>

                            <h6 class="h6Tit mb20">전시문화를 함께 즐겨요</h6>
                            <div class="tour_wrap">
                                <div class="tour_slide">
                                    <div class="slide">
                                        <div class="item">
                                            <img src="/common/images/tour_img07.png" alt=""/>
                                            <div class="con">
                                                <div class="num">1</div>
                                                <div class="txt">
                                                    <h6>분원백자 자료관</h6>
                                                    <p>조선시대 마지막 왕실관요가 자리잡은 분원리에서 백자의 역사, 유물을 볼 수 있는 곳</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="item">
                                            <img src="/common/images/tour_img08.png" alt=""/>
                                            <div class="con">
                                                <div class="num">2</div>
                                                <div class="txt">
                                                    <h6>얼굴 박물관</h6>
                                                    <p>옛사람들이 만든 목각인형, 도자기, 유리로된 인형 등 장인의 예술적 감수성과 창조적 손길을 느낄 수 있는 개인박물관</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="item">
                                            <img src="/common/images/tour_img09.png" alt=""/>
                                            <div class="con">
                                                <div class="num">3</div>
                                                <div class="txt">
                                                    <h6>황순원 문학관</h6>
                                                    <p>다양한 문학작품을 남긴 황순원선생의 묘와 선생의 친필원고, 유품들이 전시되어 있음</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide">
                                        <div class="item">
                                            <img src="/common/images/tour_img10.png" alt=""/>
                                            <div class="con">
                                                <div class="num">4</div>
                                                <div class="txt">
                                                    <h6>실학박물관</h6>
                                                    <p>실학관련 유물을 체계적으로 수집, 전시, 연구하는 전 세계 실학연구의 중심기관</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <hr class="mt30 pb30"/>

                            <h6 class="h6Tit mb20">전시문화를 함께 즐겨요</h6>
                            <div class="tour_wrap no_slide">
                                <div class="item">
                                    <img src="/common/images/tour_img11.png" alt=""/>
                                    <div class="con">
                                        <div class="num">1</div>
                                        <div class="txt">
                                            <h6>실학박물관</h6>
                                            <p>조선후기 실학자였던 정약용(1762~1836)의 생가, 여유당, 사당, 기념관 등이 있음</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="/common/images/tour_img12.png" alt=""/>
                                    <div class="con">
                                        <div class="num">2</div>
                                        <div class="txt">
                                            <h6>천진암</h6>
                                            <p>우리나라 천주교의 발상지. 한국천주교회 창립 성현 5위의 묘역이 있는 곳</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

						<!-- 담당자 정보 -->
                        <div class="manager">
							<p><span>부서명</span>수질정책과</p>
							<p><span>전화번호</span>031-8008-6937</p>
						</div>
						<!-- //담당자 정보 -->
					</div>
					<!-- //contents -->

					<!-- Modal -->
					<!-- //Modal -->
				</div>
			</div>
		</div>

		<footer class="footer">
			<div class="footer_etc">
				<div class="container">
					<div class="footer_inner">
						<div>
							<p class="f_logo">경기도 수자원본부</p>
							<span>(우)12708 광주시 남종면 산수로 1692 / TEL 8008-6933 <Br/>COPYRIGHT© 2025 경기도수자원본부. ALL RIGHTS RESERVED.</span>
						</div>
						<a href="#!" class="fmy_btn">패밀리 사이트</a>
					</div>
				</div>
			</div>
			<div id="fmy_box" class="fmy_box">
				<div>
					<p>도 관련기관</p>
					<ul>
						<li><a target="_blank" href="https://www.gg.go.kr/">경기도청</a></li>
						<li><a target="_blank" href="https://www.gg.go.kr/contents/contents.do?ciIdx=937&amp;menuId=2599">경기도 수자원본부</a></li>
						<li><a target="_blank" href="https://www.gg.go.kr/gg_health">경기도보건환경연구원</a></li>
						<li><a target="_blank" href="https://www.gri.re.kr/">경기연구원</a></li>
						<li><a target="_blank" href="https://gto.or.kr/">경기관광공사</a></li>
						<li><a target="_blank" href="http://www.gwisc.or.kr/">경기도물산업지원센터</a></li>
						<li><a target="_blank" href="http://www.paldang.or.kr/index.php">특별대책지역수질보전협의회</a></li>
					</ul>
				</div>
				<div>
					<p>중앙관련기관</p>
					<ul>
						<li><a target="_blank" href="http://www.me.go.kr/">환경부</a></li>
						<li><a target="_blank" href="http://www.molit.go.kr/">국토교통부</a></li>
						<li><a target="_blank" href="https://www.weather.go.kr/w/index.do">기상청</a></li>
						<li><a target="_blank" href="https://nier.go.kr/">국립환경과학원</a></li>
						<li><a target="_blank" href="http://www.hrfco.go.kr/">홍수통제소</a></li>
						<li><a target="_blank" href="https://www.nier.go.kr/NIER/egovHanIndex.jsp">물환경연구소</a></li>
						<li><a target="_blank" href="https://www.ekr.or.kr">한국농어촌공사</a></li>
						<li><a target="_blank" href="https://www.kwater.or.kr/">한국수자원공사</a></li>
						<li><a target="_blank" href="https://www.keco.or.kr/">한국환경공단</a></li>
						<li><a target="_blank" href="http://www.khnp.co.kr/">한국수력원자력</a></li>
					</ul>
				</div>
				<div>
					<p>물관련시스템</p>
					<ul>
						<li><a target="_blank" href="http://water.nier.go.kr">물환경정보시스템</a></li>
						<li><a target="_blank" href="https://www.waternow.go.kr/web">국가상수도정보시스템</a></li>
						<li><a target="_blank" href="https://www.hasudoinfo.or.kr/">국가하수도정보시스템</a></li>
						<li><a target="_blank" href="https://www.gims.go.kr/">국가지하수정보센터</a></li>
						<li><a target="_blank" href="http://www.wamis.go.kr/">국가수자원관리종합정보시스템</a></li>
						<li><a target="_blank" href="http://floodmap.go.kr">홍수위험지도정보시스템</a></li>
						<li><a target="_blank" href="http://rawris.ekr.or.kr/main.do">농촌용수종합정보시스템</a></li> 
						<li><a target="_blank" href="http://sgis.nier.go.kr/">토양지하수정보시스템</a></li>
						<li><a target="_blank" href="http://www.water.or.kr/">물정보포털(MyWater)</a></li>
						 <li><a target="_blank" href="http://14.63.69.206:50085">팔당수계물정보시스템</a></li>
					</ul>
				</div>
				<div>
					<p>시/군 홈페이지</p>
					<ul class="fmy_grid">
						<li><a target="_blank" href="http://www.suwon.go.kr/">수원시</a></li>
						<li><a target="_blank" href="https://www.yongin.go.kr/">용인시</a></li>
						<li><a target="_blank" href="http://www.goyang.go.kr/">고양시</a></li>
						<li><a target="_blank" href="http://www.hscity.go.kr/">화성시</a></li>
						<li><a target="_blank" href="http://www.seongnam.go.kr/">성남시</a></li>
						<li><a target="_blank" href="http://www.bucheon.go.kr/">부천시</a></li>
						<li><a target="_blank" href="http://www.nyj.go.kr/">남양주시</a></li>
						<li><a target="_blank" href="http://www.ansan.go.kr/">안산시</a></li>
						<li><a target="_blank" href="http://www.pyeongtaek.go.kr/">평택시</a></li>
						<li><a target="_blank" href="http://www.anyang.go.kr/">안양시</a></li>
						<li><a target="_blank" href="http://www.siheung.go.kr/">시흥시</a></li>
						<li><a target="_blank" href="http://www.paju.go.kr/">파주시</a></li>
						<li><a target="_blank" href="http://www.gimpo.go.kr/">김포시</a></li>
						<li><a target="_blank" href="https://www.ui4u.go.kr/">의정부시</a></li>
						<li><a target="_blank" href="https://www.gjcity.go.kr/">광주시</a></li>
						<li><a target="_blank" href="http://www.hanam.go.kr/">하남시</a></li>
						<li><a target="_blank" href="http://www.gm.go.kr/">광명시</a></li>
						<li><a target="_blank" href="http://www.gunpo.go.kr/">군포시</a></li>
						<li><a target="_blank" href="http://www.yangju.go.kr/">양주시</a></li>
						<li><a target="_blank" href="http://www.osan.go.kr/">오산시</a></li>
						<li><a target="_blank" href="http://www.icheon.go.kr/">이천시</a></li>
						<li><a target="_blank" href="https://www.anseong.go.kr/">안성시</a></li>
						<li><a target="_blank" href="http://www.guri.go.kr/">구리시</a></li>
						<li><a target="_blank" href="http://www.uiwang.go.kr/">의왕시</a></li>
						<li><a target="_blank" href="http://www.pocheon.go.kr/">포천시</a></li>
						<li><a target="_blank" href="http://www.yp21.go.kr/">양평군</a></li>
						<li><a target="_blank" href="http://www.yeoju.go.kr/">여주시</a></li>
						<li><a target="_blank" href="http://www.ddc.go.kr/">동두천시</a></li>
						<li><a target="_blank" href="http://www.gccity.go.kr/">과천시</a></li>
						<li><a target="_blank" href="http://www.gp.go.kr/">가평군</a></li>
						<li><a target="_blank" href="http://www.yeoncheon.go.kr/">연천군</a></li>
					</ul>
				</div>
			</div>
			<script>
				$('.fmy_btn').click(function() {
					$('#fmy_box').toggleClass('open');
				});
			</script>
		</footer>
	</div>
</body>

</html>