<!DOCTYPE html>

<html lang="ko" class="">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>경기도 물정보시스템</title>
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="description" content="경기도 우리집 수돗물, 안심 물놀이 시설, 우리동네 약수터, 아름다운 물길, 수질, 수량, 기상, 통계 제공">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	<link rel="shortcut icon" href="common/images/favicon.ico" type="image/x-icon">

	<!-- common -->
	<link rel="stylesheet" type="text/css" href="common/plugin/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="common/css/default.css">
	<script src="common/js/jquery-1.12.4.min.js"></script>
	<script src="common/js/jquery-ui.js"></script>
	<script src="common/js/customScript.js"></script>
	
	<!-- apex chart lib -->
	<script src="common/js/apexchart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<!-- plugin -->
	<link rel="stylesheet" type="text/css" href="common/plugin/slick/slick.css">
	<script src="common/plugin/slick/slick.min.js"></script>
	
	<!-- design -->
	<link rel="stylesheet" type="text/css" href="common/css/layout.css">
	<link rel="stylesheet" type="text/css" href="common/css/theme.css">

</head>

<body>
	<div id="wrapper">
		<div class="mask "></div>
		<div class="gnb_bg"></div>
		<header id="header">
			<div class="container" style="position: relative;">
				<button id="mobileMenuBtn" class="mobile_menu_btn"></button>
				<h1>
					<a href="#!" class="logo"><img src="./common/images/logo.png" alt="경기도물정보시스템"/></a>
				</h1>
				<nav id="nav">
					<ul>
						<li class="depth1">
							<a href="#!">생활 속 물정보</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">우리집 수돗물</a>
										<ul>
											<li class="depth3"><a href="#!">상수도 보급률</a></li>
											<li class="depth3"><a href="#!">급수인구 현황</a></li>
											<li class="depth3"><a href="#!">상수도 요금현황</a></li>
											<li class="depth3"><a href="#!">정수시설 현황</a></li>
											<li class="depth3"><a href="#!">(정수)수질검사자료-정수장</a></li>
											<li class="depth3"><a href="#!">(정수)수질검사자료-소규모</a></li>
											<li class="depth3"><a href="#!">취수시설 현황</a></li>
											<li class="depth3"><a href="#!">(원수)수질검사자료-취수장</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">우리동네 약수터</a></li>
									<li class="depth2"><a href="#!">물놀이형 수경시설</a></li>
									<li class="depth2"><a href="#!">아름다운 물길</a></li>
								</ul>
							</div>
						</li>
						<li class="depth1">
							<a href="#!">실시간 물정보</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">주요하천 수질현황</a></li>
									<li class="depth2"><a href="#!">수질</a>
										<ul>
											<li class="depth3"><a href="#!">하천</a></li>
											<li class="depth3"><a href="#!">호소</a></li>
											<li class="depth3"><a href="#!">농업용수</a></li>
											<li class="depth3"><a href="#!">공단배수</a></li>
											<li class="depth3"><a href="#!">도시관류</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">수량</a>
										<ul>
											<li class="depth3"><a href="#!">강우량</a></li>
											<li class="depth3"><a href="#!">수위</a></li>
											<li class="depth3"><a href="#!">유량</a></li>
											<li class="depth3"><a href="#!">댐수위</a></li>
											<li class="depth3"><a href="#!">저수지</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">기상</a></li>
								</ul>
							</div>
						</li>
						<li class="depth1">
							<a href="#!">도민참여 정보</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">노후 수도관 개량지원</a></li>
									<li class="depth2"><a href="#!">수돗물 수질검사 신청</a></li>
									<li class="depth2"><a href="#!">지역 민간단체 활동지원</a>
										<ul>
											<li class="depth3"><a href="#!">물환경 거버넌스 운영</a></li>
											<li class="depth3"><a href="#!">미래세대 물환경 교육</a></li>
											<li class="depth3"><a href="#!">팔당수계 하천정화활동</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</li>
						<li class="depth1">
							<a href="#!">팔당전망대</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">팔당전망대 운영안내</a></li>
									<li class="depth2"><a href="#!">단체 관람 신청</a></li>
									<li class="depth2"><a href="#!">팔당호 역사 관광지</a></li>
									<li class="depth2"><a href="#!">찾아오시는 길</a></li>
								</ul>
							</div>
						</li>
						<li class="depth1">
							<a href="#!">자료마당</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">공지사항</a></li>
									<li class="depth2"><a href="#!">환경자료</a>
										<ul>
											<li class="depth3"><a href="#!">환경 용어</a></li>
											<li class="depth3"><a href="#!">환경 상식</a></li>
											<li class="depth3"><a href="#!">우리동네 환경단체</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">경기도 물 통계</a>
										<ul>
											<li class="depth3"><a href="#!">하천</a></li>
											<li class="depth3"><a href="#!">상수도</a></li>
											<li class="depth3"><a href="#!">하수도</a></li>
											<li class="depth3"><a href="#!">분뇨처리시설</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">수자원백서</a></li>
									<li class="depth2"><a href="#!">보건환경연구원자료</a></li>
								</ul>
							</div>
						</li>
						<li class="depth1"><a href="#!">지도서비스</a>
							<div class="subnav"></div>
						</li>
					</ul>
				</nav>
				<button id="topSearchBtn" class="search_btn"></button>
			</div>
		</header>

		<!-- 모바일 메뉴 -->
		<div id="mobileNav" class="mobile_menu">
			<ul>
				<li class="depth1 on">
					<a href="#!">생활 속 물정보</a>
					<div class="subnav">
						<ul>
							<li class="depth2 drops on"><a href="#!">우리집 수돗물</a>
								<ul>
									<li class="depth3"><a href="#!">상수도 보급률</a></li>
									<li class="depth3"><a href="#!">급수인구 현황</a></li>
									<li class="depth3"><a href="#!">상수도 요금현황</a></li>
									<li class="depth3"><a href="#!">정수시설 현황</a></li>
									<li class="depth3"><a href="#!">(정수)수질검사자료-정수장</a></li>
									<li class="depth3"><a href="#!">(정수)수질검사자료-소규모</a></li>
									<li class="depth3"><a href="#!">취수시설 현황</a></li>
									<li class="depth3"><a href="#!">(원수)수질검사자료-취수장</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">우리동네 약수터</a></li>
							<li class="depth2"><a href="#!">물놀이형 수경시설</a></li>
							<li class="depth2"><a href="#!">아름다운 물길</a></li>
						</ul>
					</div>
				</li>
				<li class="depth1">
					<a href="#!">실시간 물정보</a>
					<div class="subnav">
						<ul>
							<li class="depth2"><a href="#!">주요하천 수질현황</a></li>
							<li class="depth2"><a href="#!">수질</a>
								<ul>
									<li class="depth3"><a href="#!">하천</a></li>
									<li class="depth3"><a href="#!">호소</a></li>
									<li class="depth3"><a href="#!">농업용수</a></li>
									<li class="depth3"><a href="#!">공단배수</a></li>
									<li class="depth3"><a href="#!">도시관류</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">수량</a>
								<ul>
									<li class="depth3"><a href="#!">강우량</a></li>
									<li class="depth3"><a href="#!">수위</a></li>
									<li class="depth3"><a href="#!">유량</a></li>
									<li class="depth3"><a href="#!">댐수위</a></li>
									<li class="depth3"><a href="#!">저수지</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">기상</a></li>
						</ul>
					</div>
				</li>
				<li class="depth1">
					<a href="#!">도민참여 정보</a>
					<div class="subnav">
						<ul>
							<li class="depth2"><a href="#!">노후 수도관 개량지원</a></li>
							<li class="depth2"><a href="#!">수돗물 수질검사 신청</a></li>
							<li class="depth2"><a href="#!">지역 민간단체 활동지원</a>
								<ul>
									<li class="depth3"><a href="#!">물환경 거버넌스 운영</a></li>
									<li class="depth3"><a href="#!">미래세대 물환경 교육</a></li>
									<li class="depth3"><a href="#!">팔당수계 하천정화활동</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
				<li class="depth1">
					<a href="#!">팔당전망대</a>
					<div class="subnav">
						<ul>
							<li class="depth2"><a href="#!">팔당전망대 운영안내</a></li>
							<li class="depth2"><a href="#!">단체 관람 신청</a></li>
							<li class="depth2"><a href="#!">팔당호 역사 관광지</a></li>
							<li class="depth2"><a href="#!">찾아오시는 길</a></li>
						</ul>
					</div>
				</li>
				<li class="depth1">
					<a href="#!">자료마당</a>
					<div class="subnav">
						<ul>
							<li class="depth2"><a href="#!">공지사항</a></li>
							<li class="depth2"><a href="#!">환경자료</a>
								<ul>
									<li class="depth3"><a href="#!">환경 용어</a></li>
									<li class="depth3"><a href="#!">환경 상식</a></li>
									<li class="depth3"><a href="#!">우리동네 환경단체</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">경기도 물 통계</a>
								<ul>
									<li class="depth3"><a href="#!">하천</a></li>
									<li class="depth3"><a href="#!">상수도</a></li>
									<li class="depth3"><a href="#!">하수도</a></li>
									<li class="depth3"><a href="#!">분뇨처리시설</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">수자원백서</a></li>
							<li class="depth2"><a href="#!">보건환경연구원자료</a></li>
						</ul>
					</div>
				</li>
				<li class="depth1"><a href="#!">지도서비스</a>
					<div class="subnav"></div>
				</li>
			</ul>
		</div>
		<!-- //모바일 메뉴 -->

		<!-- 상단 검색 영역 -->
		<div id="searchArea" class="">
			<div class="search_inner">
				<div class="search_box">
					<input type="text" class="" name="waterSearchText" id="waterSearchText" placeholder="검색어를 입력해 주세요" value="">
					<button type="submit" class="searchButton"><i class="tpg-search"></i></button>
			  	</div>
				<div class="search_detail_wrap">
					<div>
						<span class="search_detail_label">검색기간</span>
						<div id="calendar" class="search_detail_calendar mt5">
							<div class="">
								<input type="date" name="waterSearchStartDate" id="waterSearchStartDate" class="input mr10" value="">
								<input type="date" name="waterSearchEndDate" id="waterSearchEndDate" class="input" value="">
							</div>
							<div class="scbtwrap">
								<button type="button" class="scbtnn active" onclick="fn_doTopWeek();">1주</button> 
								<span>/</span>
								<button type="button" class="scbtnn" onclick="fn_doTopMonth();">1개월</button>
								<span>/</span>
								<button type="button" class="scbtnn" onclick="fn_doTopYear();">1년</button>
							</div>
						</div>
					</div>
					<div class="mt30">
						<span class="search_detail_label">검색방법</span>
						<div class="mt5">
							<input type="text" name="waterSearchOptBadText" id="waterSearchOptBadText" class="input textexpt" value="">
							<label for="waterSearchOptBadChk" class="ml10">
								<input type="checkbox" name="waterSearchOptBadChk" id="waterSearchOptBadChk" class="chkbb2" value="Y">
								제외되는 단어
							</label> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //상단 검색 영역 -->

		
		<div class="container">
			<div id="sub_contents">
				<aside id="side_nav">
					<div class="page_label"><h3>도민참여 정보</h3></div>
					<nav class="lnb">
						<ul>
							<li class="depth2 on"><a href="#!"><span>노후 수도관 개량지원</span></a></li>
							<li class="depth2"><a href="#!"><span>수돗물 수질검사 신청</span></a></li>
							<li class="depth2 drops"><a href="#!"><span>지역 민간단체 활동지원</span></a>
								<ul class="">
									<li class="depth3"><a href="#!"><span>물환경 거버넌스 운영</span></a></li>
									<li class="depth3"><a href="#!"><span>미래세대 물환경 교육</span></a></li>
									<li class="depth3"><a href="#!"><span>팔당수계 하천정화활동</span></a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</aside>

				<div class="sub_contents">
					<div class="sub_header">
						<h4>노후 수도관 개량지원</h4>
						<ol class="breadcrumb">
							<li class="home"><a href="#!"><span class="sr-only">홈으로</span></a></li>
							<li><a href="#!">도민참여 정보</a></li>
							<li><a href="#!">노후 수도관 개량지원</a></li>
						</ol>
					</div>

					<!-- contents -->
					<div class="contents">

						<div class="mb60">
                            <h5 class="h5cTit mb10">지원대상 및 지원규모</h5>
                            <div class="table-responsive">
                                <table class="tbl type2 text-center" summary="정보를 제공합니다.">
                                    <caption>정보</caption>
                                    <colgroup>
                                        <col style="width: 50%;">
                                        <col style="width: 50%;">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>지원규모</th>
                                            <th>최대지원금액</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <p>기초생활 수급자 등 저소득층 <span class="text-bl">전액지원</span></p>
                                                <p>면적 130m2 이하 <span class="text-bl">30% 지원</span></p>
                                            </td>
                                            <td>
                                                <p>기초생활 수급자 및 <span class="text-bl">사회복지시설 전액지원</span></p>
                                                <p>면적 130㎡ 이하 <span class="text-bl">70% 지원</span></p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p class="text-gry pt5">※ 지원대상 및 규모는 시·군별로 상이하오니 반드시 거주지 시·군(수도부서 : 옥내급수관, 주택부서 : 공용배관)에 상담하시기 바랍니다.</p>
                        </div>

                        <div class="mb60">
                            <h5 class="h5cTit mb10">녹물없는 우리집수도관 개량지원을 신청하면 이렇게 진행됩니다</h5>
                            <ul class="process_box">
                                <li>
                                    <div class="item">
                                        <span>STEP 01</span>
                                        <div>
                                            개량지원신청
                                            <em>(신청인 → 시청)</em>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <span>STEP 02</span>
                                        <div>
                                            개량사업승인
                                            <em>(시청 → 신청인)</em>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <span>STEP 03</span>
                                        <div>
                                            업체선정 및 견적협의
                                            <em>(신청인)</em>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <span>STEP 04</span>
                                        <div>
                                            시공 및 사업비 지원신청
                                            <em>(신청인 → 시청)</em>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <span>STEP 05</span>
                                        <div>
                                            준공확인
                                            <em>(시청)</em>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <span>STEP 06</span>
                                        <div>
                                            사업비 정산· 지원
                                            <em>(시청 → 신청인)</em>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="mb60">
                            <h5 class="h5cTit mb10">녹물없는 우리집수도관 개량지원 상담신청</h5>
                            <div class="con_box">
                                <ul class="ul_list">
                                    <li>경기도 콜센터 : 031)120</li>
                                    <li>거주지별 관할 수도부서, 주택부서</li>
                                </ul>
                            </div>
                            <div class="table-responsive mt20">
                                <table class="tbl type2 text-center" summary="정보를 제공합니다.">
                                    <caption>정보</caption>
                                    <colgroup>
                                        <col style="width: 33.3%;">
                                        <col style="width: 33.3%;">
                                        <col style="width: 33.3%;">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>시군명</th>
                                            <th>담당부서</th>
                                            <th>전화번호</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>수원시</td>
                                            <td>맑은물공급과</td>
                                            <td>031-228-4938</td>
                                        </tr>
                                        <tr>
                                            <td>용인시</td>
                                            <td>수도시설과</td>
                                            <td>031-324-4244</td>
                                        </tr>
                                        <tr>
                                            <td>고양시</td>
                                            <td>수도시설과</td>
                                            <td>031-8075-4533</td>
                                        </tr>
                                        <tr>
                                            <td>화성시</td>
                                            <td>맑은물시설과</td>
                                            <td>031-5189-3022</td>
                                        </tr>
                                        <tr>
                                            <td>성남시</td>
                                            <td>수도시설과</td>
                                            <td>031-729-4092</td>
                                        </tr>
                                        <tr>
                                            <td>부천시</td>
                                            <td>수도시설과</td>
                                            <td>032-625-3291</td>
                                        </tr>
                                        <tr>
                                            <td>남양주시</td>
                                            <td>수도과</td>
                                            <td>031-590-4765</td>
                                        </tr>
                                        <tr>
                                            <td>안산시</td>
                                            <td>수도시설과</td>
                                            <td>031-481-3666</td>
                                        </tr>
                                        <tr>
                                            <td>평택시</td>
                                            <td>수도계획과</td>
                                            <td>031-8024-5163</td>
                                        </tr>
                                        <tr>
                                            <td>안양시</td>
                                            <td>수도시설과</td>
                                            <td>031-8045-5666</td>
                                        </tr>
                                        <tr>
                                            <td>시흥시</td>
                                            <td>상수도과</td>
                                            <td>031-310-6143</td>
                                        </tr>
                                        <tr>
                                            <td>파주시</td>
                                            <td>상수도과</td>
                                            <td>031-940-5486</td>
                                        </tr>
                                        <tr>
                                            <td>김포시</td>
                                            <td>수도과</td>
                                            <td>031-5186-4426</td>
                                        </tr>
                                        <tr>
                                            <td>의정부시</td>
                                            <td>수도과</td>
                                            <td>031-870-6338</td>
                                        </tr>
                                        <tr>
                                            <td>광주시</td>
                                            <td>수도과</td>
                                            <td>031-760-2641</td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2">하남시</td>
                                            <td>(옥내급수관) 상수도과</td>
                                            <td>031-790-5647</td>
                                        </tr>
                                        <tr>
                                            <td>(공용배관) 주택과</td>
                                            <td>031-790-5238</td>
                                        </tr>
                                        <tr>
                                            <td>광명시</td>
                                            <td>수도과</td>
                                            <td>02-2680-2961</td>
                                        </tr>
                                        <tr>
                                            <td>군포시</td>
                                            <td>수도과</td>
                                            <td>031-390-3234</td>
                                        </tr>
                                        <tr>
                                            <td>양주시</td>
                                            <td>수도과</td>
                                            <td>031-8082-6842</td>
                                        </tr>
                                        <tr>
                                            <td>오산시</td>
                                            <td>수도과</td>
                                            <td>031-8036-6400</td>
                                        </tr>
                                        <tr>
                                            <td>이천시</td>
                                            <td>수도과</td>
                                            <td>031-644-4243</td>
                                        </tr>
                                        <tr>
                                            <td>안성시</td>
                                            <td>상수도과</td>
                                            <td>031-678-3156</td>
                                        </tr>
                                        <tr>
                                            <td>구리시</td>
                                            <td>수도과</td>
                                            <td>031-550-8580</td>
                                        </tr>
                                        <tr>
                                            <td>의왕시</td>
                                            <td>상하수과</td>
                                            <td>031-345-3615</td>
                                        </tr>
                                        <tr>
                                            <td>포천시</td>
                                            <td>수도과</td>
                                            <td>031-538-3424</td>
                                        </tr>
                                        <tr>
                                            <td>양평군</td>
                                            <td>수도사업소</td>
                                            <td>031-770-3715</td>
                                        </tr>
                                        <tr>
                                            <td>여주시</td>
                                            <td>수도사업소</td>
                                            <td>031-887-3526</td>
                                        </tr>
                                        <tr>
                                            <td>동두천시</td>
                                            <td>환경사업소</td>
                                            <td>031-860-3188</td>
                                        </tr>
                                        <tr>
                                            <td>과천시</td>
                                            <td>맑은물사업소</td>
                                            <td>02-2150-3723</td>
                                        </tr>
                                        <tr>
                                            <td>가평군</td>
                                            <td>상수도사업소</td>
                                            <td>031-580-4433</td>
                                        </tr>
                                        <tr>
                                            <td>연천군</td>
                                            <td>맑은물관리사업소</td>
                                            <td>031-839-4336</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


						<!-- 담당자 정보 -->
						<!-- //담당자 정보 -->
					</div>
					<!-- //contents -->

					<!-- Modal -->
					<!-- //Modal -->
				</div>
			</div>
		</div>

		<footer class="footer">
			<div class="footer_etc">
				<div class="container">
					<div class="footer_inner">
						<div>
							<p class="f_logo">경기도 수자원본부</p>
							<span>(우)12708 광주시 남종면 산수로 1692 / TEL 8008-6933 <Br/>COPYRIGHT© 2025 경기도수자원본부. ALL RIGHTS RESERVED.</span>
						</div>
						<a href="#!" class="fmy_btn">패밀리 사이트</a>
					</div>
				</div>
			</div>
			<div id="fmy_box" class="fmy_box">
				<div>
					<p>도 관련기관</p>
					<ul>
						<li><a target="_blank" href="https://www.gg.go.kr/">경기도청</a></li>
						<li><a target="_blank" href="https://www.gg.go.kr/contents/contents.do?ciIdx=937&amp;menuId=2599">경기도 수자원본부</a></li>
						<li><a target="_blank" href="https://www.gg.go.kr/gg_health">경기도보건환경연구원</a></li>
						<li><a target="_blank" href="https://www.gri.re.kr/">경기연구원</a></li>
						<li><a target="_blank" href="https://gto.or.kr/">경기관광공사</a></li>
						<li><a target="_blank" href="http://www.gwisc.or.kr/">경기도물산업지원센터</a></li>
						<li><a target="_blank" href="http://www.paldang.or.kr/index.php">특별대책지역수질보전협의회</a></li>
					</ul>
				</div>
				<div>
					<p>중앙관련기관</p>
					<ul>
						<li><a target="_blank" href="http://www.me.go.kr/">환경부</a></li>
						<li><a target="_blank" href="http://www.molit.go.kr/">국토교통부</a></li>
						<li><a target="_blank" href="https://www.weather.go.kr/w/index.do">기상청</a></li>
						<li><a target="_blank" href="https://nier.go.kr/">국립환경과학원</a></li>
						<li><a target="_blank" href="http://www.hrfco.go.kr/">홍수통제소</a></li>
						<li><a target="_blank" href="https://www.nier.go.kr/NIER/egovHanIndex.jsp">물환경연구소</a></li>
						<li><a target="_blank" href="https://www.ekr.or.kr">한국농어촌공사</a></li>
						<li><a target="_blank" href="https://www.kwater.or.kr/">한국수자원공사</a></li>
						<li><a target="_blank" href="https://www.keco.or.kr/">한국환경공단</a></li>
						<li><a target="_blank" href="http://www.khnp.co.kr/">한국수력원자력</a></li>
					</ul>
				</div>
				<div>
					<p>물관련시스템</p>
					<ul>
						<li><a target="_blank" href="http://water.nier.go.kr">물환경정보시스템</a></li>
						<li><a target="_blank" href="https://www.waternow.go.kr/web">국가상수도정보시스템</a></li>
						<li><a target="_blank" href="https://www.hasudoinfo.or.kr/">국가하수도정보시스템</a></li>
						<li><a target="_blank" href="https://www.gims.go.kr/">국가지하수정보센터</a></li>
						<li><a target="_blank" href="http://www.wamis.go.kr/">국가수자원관리종합정보시스템</a></li>
						<li><a target="_blank" href="http://floodmap.go.kr">홍수위험지도정보시스템</a></li>
						<li><a target="_blank" href="http://rawris.ekr.or.kr/main.do">농촌용수종합정보시스템</a></li> 
						<li><a target="_blank" href="http://sgis.nier.go.kr/">토양지하수정보시스템</a></li>
						<li><a target="_blank" href="http://www.water.or.kr/">물정보포털(MyWater)</a></li>
						 <li><a target="_blank" href="http://14.63.69.206:50085">팔당수계물정보시스템</a></li>
					</ul>
				</div>
				<div>
					<p>시/군 홈페이지</p>
					<ul class="fmy_grid">
						<li><a target="_blank" href="http://www.suwon.go.kr/">수원시</a></li>
						<li><a target="_blank" href="https://www.yongin.go.kr/">용인시</a></li>
						<li><a target="_blank" href="http://www.goyang.go.kr/">고양시</a></li>
						<li><a target="_blank" href="http://www.hscity.go.kr/">화성시</a></li>
						<li><a target="_blank" href="http://www.seongnam.go.kr/">성남시</a></li>
						<li><a target="_blank" href="http://www.bucheon.go.kr/">부천시</a></li>
						<li><a target="_blank" href="http://www.nyj.go.kr/">남양주시</a></li>
						<li><a target="_blank" href="http://www.ansan.go.kr/">안산시</a></li>
						<li><a target="_blank" href="http://www.pyeongtaek.go.kr/">평택시</a></li>
						<li><a target="_blank" href="http://www.anyang.go.kr/">안양시</a></li>
						<li><a target="_blank" href="http://www.siheung.go.kr/">시흥시</a></li>
						<li><a target="_blank" href="http://www.paju.go.kr/">파주시</a></li>
						<li><a target="_blank" href="http://www.gimpo.go.kr/">김포시</a></li>
						<li><a target="_blank" href="https://www.ui4u.go.kr/">의정부시</a></li>
						<li><a target="_blank" href="https://www.gjcity.go.kr/">광주시</a></li>
						<li><a target="_blank" href="http://www.hanam.go.kr/">하남시</a></li>
						<li><a target="_blank" href="http://www.gm.go.kr/">광명시</a></li>
						<li><a target="_blank" href="http://www.gunpo.go.kr/">군포시</a></li>
						<li><a target="_blank" href="http://www.yangju.go.kr/">양주시</a></li>
						<li><a target="_blank" href="http://www.osan.go.kr/">오산시</a></li>
						<li><a target="_blank" href="http://www.icheon.go.kr/">이천시</a></li>
						<li><a target="_blank" href="https://www.anseong.go.kr/">안성시</a></li>
						<li><a target="_blank" href="http://www.guri.go.kr/">구리시</a></li>
						<li><a target="_blank" href="http://www.uiwang.go.kr/">의왕시</a></li>
						<li><a target="_blank" href="http://www.pocheon.go.kr/">포천시</a></li>
						<li><a target="_blank" href="http://www.yp21.go.kr/">양평군</a></li>
						<li><a target="_blank" href="http://www.yeoju.go.kr/">여주시</a></li>
						<li><a target="_blank" href="http://www.ddc.go.kr/">동두천시</a></li>
						<li><a target="_blank" href="http://www.gccity.go.kr/">과천시</a></li>
						<li><a target="_blank" href="http://www.gp.go.kr/">가평군</a></li>
						<li><a target="_blank" href="http://www.yeoncheon.go.kr/">연천군</a></li>
					</ul>
				</div>
			</div>
			<script>
				$('.fmy_btn').click(function() {
					$('#fmy_box').toggleClass('open');
				});
			</script>
		</footer>
	</div>
</body>

</html>