<!DOCTYPE html>

<html lang="ko" class="">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>경기도 물정보시스템</title>
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="description" content="경기도 우리집 수돗물, 안심 물놀이 시설, 우리동네 약수터, 아름다운 물길, 수질, 수량, 기상, 통계 제공">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	<link rel="shortcut icon" href="common/images/favicon.ico" type="image/x-icon">

	<!-- common -->
	<link rel="stylesheet" type="text/css" href="common/plugin/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="common/css/default.css">
	<script src="common/js/jquery-1.12.4.min.js"></script>
	<script src="common/js/jquery-ui.js"></script>
	<script src="common/js/customScript.js"></script>
	
	<!-- apex chart lib -->
	<script src="common/js/apexchart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<!-- plugin -->
	<link rel="stylesheet" type="text/css" href="common/plugin/slick/slick.css">
	<script src="common/plugin/slick/slick.min.js"></script>
	
	<!-- design -->
	<link rel="stylesheet" type="text/css" href="common/css/layout.css">
	<link rel="stylesheet" type="text/css" href="common/css/theme.css">

</head>

<body>
	<div id="wrapper">
		<div class="mask "></div>
		<div class="gnb_bg"></div>
		<header id="header">
			<div class="container" style="position: relative;">
				<button id="mobileMenuBtn" class="mobile_menu_btn"></button>
				<h1>
					<a href="#!" class="logo"><img src="./common/images/logo.png" alt="경기도물정보시스템"/></a>
				</h1>
				<nav id="nav">
					<ul>
						<li class="depth1">
							<a href="#!">생활 속 물정보</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">우리집 수돗물</a>
										<ul>
											<li class="depth3"><a href="#!">상수도 보급률</a></li>
											<li class="depth3"><a href="#!">급수인구 현황</a></li>
											<li class="depth3"><a href="#!">상수도 요금현황</a></li>
											<li class="depth3"><a href="#!">정수시설 현황</a></li>
											<li class="depth3"><a href="#!">(정수)수질검사자료-정수장</a></li>
											<li class="depth3"><a href="#!">(정수)수질검사자료-소규모</a></li>
											<li class="depth3"><a href="#!">취수시설 현황</a></li>
											<li class="depth3"><a href="#!">(원수)수질검사자료-취수장</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">우리동네 약수터</a></li>
									<li class="depth2"><a href="#!">물놀이형 수경시설</a></li>
									<li class="depth2"><a href="#!">아름다운 물길</a></li>
								</ul>
							</div>
						</li>
						<li class="depth1">
							<a href="#!">실시간 물정보</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">주요하천 수질현황</a></li>
									<li class="depth2"><a href="#!">수질</a>
										<ul>
											<li class="depth3"><a href="#!">하천</a></li>
											<li class="depth3"><a href="#!">호소</a></li>
											<li class="depth3"><a href="#!">농업용수</a></li>
											<li class="depth3"><a href="#!">공단배수</a></li>
											<li class="depth3"><a href="#!">도시관류</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">수량</a>
										<ul>
											<li class="depth3"><a href="#!">강우량</a></li>
											<li class="depth3"><a href="#!">수위</a></li>
											<li class="depth3"><a href="#!">유량</a></li>
											<li class="depth3"><a href="#!">댐수위</a></li>
											<li class="depth3"><a href="#!">저수지</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">기상</a></li>
								</ul>
							</div>
						</li>
						<li class="depth1">
							<a href="#!">도민참여 정보</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">노후 수도관 개량지원</a></li>
									<li class="depth2"><a href="#!">수돗물 수질검사 신청</a></li>
									<li class="depth2"><a href="#!">지역 민간단체 활동지원</a>
										<ul>
											<li class="depth3"><a href="#!">물환경 거버넌스 운영</a></li>
											<li class="depth3"><a href="#!">미래세대 물환경 교육</a></li>
											<li class="depth3"><a href="#!">팔당수계 하천정화활동</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</li>
						<li class="depth1">
							<a href="#!">팔당전망대</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">팔당전망대 운영안내</a></li>
									<li class="depth2"><a href="#!">단체 관람 신청</a></li>
									<li class="depth2"><a href="#!">팔당호 역사 관광지</a></li>
									<li class="depth2"><a href="#!">찾아오시는 길</a></li>
								</ul>
							</div>
						</li>
						<li class="depth1">
							<a href="#!">자료마당</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">공지사항</a></li>
									<li class="depth2"><a href="#!">환경자료</a>
										<ul>
											<li class="depth3"><a href="#!">환경 용어</a></li>
											<li class="depth3"><a href="#!">환경 상식</a></li>
											<li class="depth3"><a href="#!">우리동네 환경단체</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">경기도 물 통계</a>
										<ul>
											<li class="depth3"><a href="#!">하천</a></li>
											<li class="depth3"><a href="#!">상수도</a></li>
											<li class="depth3"><a href="#!">하수도</a></li>
											<li class="depth3"><a href="#!">분뇨처리시설</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">수자원백서</a></li>
									<li class="depth2"><a href="#!">보건환경연구원자료</a></li>
								</ul>
							</div>
						</li>
						<li class="depth1"><a href="#!">지도서비스</a>
							<div class="subnav"></div>
						</li>
					</ul>
				</nav>
				<button id="topSearchBtn" class="search_btn"></button>
			</div>
		</header>

		<!-- 모바일 메뉴 -->
		<div id="mobileNav" class="mobile_menu">
			<ul>
				<li class="depth1 on">
					<a href="#!">생활 속 물정보</a>
					<div class="subnav">
						<ul>
							<li class="depth2 drops on"><a href="#!">우리집 수돗물</a>
								<ul>
									<li class="depth3"><a href="#!">상수도 보급률</a></li>
									<li class="depth3"><a href="#!">급수인구 현황</a></li>
									<li class="depth3"><a href="#!">상수도 요금현황</a></li>
									<li class="depth3"><a href="#!">정수시설 현황</a></li>
									<li class="depth3"><a href="#!">(정수)수질검사자료-정수장</a></li>
									<li class="depth3"><a href="#!">(정수)수질검사자료-소규모</a></li>
									<li class="depth3"><a href="#!">취수시설 현황</a></li>
									<li class="depth3"><a href="#!">(원수)수질검사자료-취수장</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">우리동네 약수터</a></li>
							<li class="depth2"><a href="#!">물놀이형 수경시설</a></li>
							<li class="depth2"><a href="#!">아름다운 물길</a></li>
						</ul>
					</div>
				</li>
				<li class="depth1">
					<a href="#!">실시간 물정보</a>
					<div class="subnav">
						<ul>
							<li class="depth2"><a href="#!">주요하천 수질현황</a></li>
							<li class="depth2"><a href="#!">수질</a>
								<ul>
									<li class="depth3"><a href="#!">하천</a></li>
									<li class="depth3"><a href="#!">호소</a></li>
									<li class="depth3"><a href="#!">농업용수</a></li>
									<li class="depth3"><a href="#!">공단배수</a></li>
									<li class="depth3"><a href="#!">도시관류</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">수량</a>
								<ul>
									<li class="depth3"><a href="#!">강우량</a></li>
									<li class="depth3"><a href="#!">수위</a></li>
									<li class="depth3"><a href="#!">유량</a></li>
									<li class="depth3"><a href="#!">댐수위</a></li>
									<li class="depth3"><a href="#!">저수지</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">기상</a></li>
						</ul>
					</div>
				</li>
				<li class="depth1">
					<a href="#!">도민참여 정보</a>
					<div class="subnav">
						<ul>
							<li class="depth2"><a href="#!">노후 수도관 개량지원</a></li>
							<li class="depth2"><a href="#!">수돗물 수질검사 신청</a></li>
							<li class="depth2"><a href="#!">지역 민간단체 활동지원</a>
								<ul>
									<li class="depth3"><a href="#!">물환경 거버넌스 운영</a></li>
									<li class="depth3"><a href="#!">미래세대 물환경 교육</a></li>
									<li class="depth3"><a href="#!">팔당수계 하천정화활동</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
				<li class="depth1">
					<a href="#!">팔당전망대</a>
					<div class="subnav">
						<ul>
							<li class="depth2"><a href="#!">팔당전망대 운영안내</a></li>
							<li class="depth2"><a href="#!">단체 관람 신청</a></li>
							<li class="depth2"><a href="#!">팔당호 역사 관광지</a></li>
							<li class="depth2"><a href="#!">찾아오시는 길</a></li>
						</ul>
					</div>
				</li>
				<li class="depth1">
					<a href="#!">자료마당</a>
					<div class="subnav">
						<ul>
							<li class="depth2"><a href="#!">공지사항</a></li>
							<li class="depth2"><a href="#!">환경자료</a>
								<ul>
									<li class="depth3"><a href="#!">환경 용어</a></li>
									<li class="depth3"><a href="#!">환경 상식</a></li>
									<li class="depth3"><a href="#!">우리동네 환경단체</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">경기도 물 통계</a>
								<ul>
									<li class="depth3"><a href="#!">하천</a></li>
									<li class="depth3"><a href="#!">상수도</a></li>
									<li class="depth3"><a href="#!">하수도</a></li>
									<li class="depth3"><a href="#!">분뇨처리시설</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">수자원백서</a></li>
							<li class="depth2"><a href="#!">보건환경연구원자료</a></li>
						</ul>
					</div>
				</li>
				<li class="depth1"><a href="#!">지도서비스</a>
					<div class="subnav"></div>
				</li>
			</ul>
		</div>
		<!-- //모바일 메뉴 -->

		<!-- 상단 검색 영역 -->
		<div id="searchArea" class="">
			<div class="search_inner">
				<div class="search_box">
					<input type="text" class="" name="waterSearchText" id="waterSearchText" placeholder="검색어를 입력해 주세요" value="">
					<button type="submit" class="searchButton"><i class="tpg-search"></i></button>
			  	</div>
				<div class="search_detail_wrap">
					<div>
						<span class="search_detail_label">검색기간</span>
						<div id="calendar" class="search_detail_calendar mt5">
							<div class="">
								<input type="date" name="waterSearchStartDate" id="waterSearchStartDate" class="input mr10" value="">
								<input type="date" name="waterSearchEndDate" id="waterSearchEndDate" class="input" value="">
							</div>
							<div class="scbtwrap">
								<button type="button" class="scbtnn active" onclick="fn_doTopWeek();">1주</button> 
								<span>/</span>
								<button type="button" class="scbtnn" onclick="fn_doTopMonth();">1개월</button>
								<span>/</span>
								<button type="button" class="scbtnn" onclick="fn_doTopYear();">1년</button>
							</div>
						</div>
					</div>
					<div class="mt30">
						<span class="search_detail_label">검색방법</span>
						<div class="mt5">
							<input type="text" name="waterSearchOptBadText" id="waterSearchOptBadText" class="input textexpt" value="">
							<label for="waterSearchOptBadChk" class="ml10">
								<input type="checkbox" name="waterSearchOptBadChk" id="waterSearchOptBadChk" class="chkbb2" value="Y">
								제외되는 단어
							</label> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //상단 검색 영역 -->

		
		<div class="container">
			<div id="sub_contents">
				<aside id="side_nav">
					<div class="page_label"><h3>자료마당</h3></div>
					<nav class="lnb">
						<ul>
							<li class="depth2"><a href="#!"><span>공지사항</span></a></li>
							<li class="depth2 drops on"><a href="#!"><span>환경자료</span></a>
								<ul class="on">
									<li class="depth3 on"><a href="#!"><span>환경 용어</span></a></li>
									<li class="depth3"><a href="#!"><span>환경 상식</span></a></li>
									<li class="depth3"><a href="#!"><span>우리동네 환경단체</span></a></li>
								</ul>
							</li>
							<li class="depth2 drops"><a href="#!"><span>경기도 물 통계</span></a>
                                <ul class="">
									<li class="depth3"><a href="#!"><span>하천</span></a></li>
									<li class="depth3"><a href="#!"><span>상수도</span></a></li>
									<li class="depth3"><a href="#!"><span>하수도</span></a></li>
									<li class="depth3"><a href="#!"><span>분뇨처리시설</span></a></li>
								</ul>
                            </li>
							<li class="depth2"><a href="#!"><span>수자원백서</span></a></li>
							<li class="depth2"><a href="#!"><span>보건환경연구원자료</span></a></li>
						</ul>
					</nav>
				</aside>

				<div class="sub_contents">
					<div class="sub_header">
						<h4>환경 용어</h4>
						<ol class="breadcrumb">
							<li class="home"><a href="#!"><span class="sr-only">홈으로</span></a></li>
							<li><a href="#!">자료마당</a></li>
							<li><a href="#!">환경자료</a></li>
							<li><a href="#!">환경 용어</a></li>
						</ol>
					</div>

					<!-- contents -->
					<div class="contents">

                        <div class="dic_search">
                            <div class="inner">
                                <div class="dic_search_btn">
                                    <input type="text" class="" name="dicSearchText" id="dicSearchText" placeholder="키워드를 입력해 주세요" value="">
                                    <button type="submit" class=""></button>
                                </div>
                                <div class="dic_keybox">
                                    <div class="mb20">
                                        <p>한글순</p>
                                        <ul>
                                            <li><a href="#!">ㄱ</a></li>
                                            <li><a href="#!">ㄴ</a></li>
                                            <li><a href="#!">ㄷ</a></li>
                                            <li><a href="#!">ㄹ</a></li>
                                            <li><a href="#!">ㅁ</a></li>
                                            <li><a href="#!">ㅂ</a></li>
                                            <li><a href="#!">ㅅ</a></li>
                                            <li><a href="#!">ㅇ</a></li>
                                            <li><a href="#!">ㅈ</a></li>
                                            <li><a href="#!">ㅊ</a></li>
                                            <li><a href="#!">ㅋ</a></li>
                                            <li><a href="#!">ㅌ</a></li>
                                            <li><a href="#!">ㅍ</a></li>
                                            <li><a href="#!">ㅎ</a></li>
                                        </ul>
                                    </div>

                                    <div>
                                        <p>알파벳순</p>
                                        <ul>
                                            <li><a href="#!">A</a></li>
                                            <li><a href="#!">B</a></li>
                                            <li><a href="#!">C</a></li>
                                            <li><a href="#!">D</a></li>
                                            <li><a href="#!">E</a></li>
                                            <li><a href="#!">F</a></li>
                                            <li><a href="#!">G</a></li>
                                            <li><a href="#!">H</a></li>
                                            <li><a href="#!">I</a></li>
                                            <li><a href="#!">J</a></li>
                                            <li><a href="#!">K</a></li>
                                            <li><a href="#!">L</a></li>
                                            <li><a href="#!">M</a></li>
                                            <li><a href="#!">N</a></li>
                                            <li><a href="#!">O</a></li>
                                            <li><a href="#!">P</a></li>
                                            <li><a href="#!">Q</a></li>
                                            <li><a href="#!">R</a></li>
                                            <li><a href="#!">S</a></li>
                                            <li><a href="#!">T</a></li>
                                            <li><a href="#!">U</a></li>
                                            <li><a href="#!">V</a></li>
                                            <li><a href="#!">W</a></li>
                                            <li><a href="#!">X</a></li>
                                            <li><a href="#!">Y</a></li>
                                            <li><a href="#!">Z</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 검색 결과 -->
                        <div class="bbs_total mb5">
                            전체 <strong>5,620 </strong>건이 검색되었습니다.
                        </div>
                        <ul class="dic_list">
                            <li>
                                <div class="title">댐</div>
                                <div class="con">산간계곡이나 하천을 횡단하여 저수·토사유출방지·취수·수위상승 또는 붕괴방지를 위하여 만들어진 구조물이다. 한국은 옛날부터 벼농사 용수공급을 위하여 소류지(小溜池)나 저수지를 하천 계곡이나 凹형 지대에 건설할 때, 취수보(取水洑)나 제방이라는 이름으로 소규모 흙댐을 축조한 것을 《삼국사기(三國史記)》에서 볼 수 있으며, 토목기술을 일본에 전하기도 하였다. 한편, 인도·스리랑카에는 옛날에 대규모로 흙댐을 축조하였는데, 그 중 일부는 오늘날까지 남아 있다. 콘크리트 중력(重力)댐이 세계에서 처음으로 축조된 것은 16세기 말 에스파냐 남동쪽 티비 계곡의 알만자댐(높이 약 20m)이며, 계속해서 알리칸트댐(높이 41m)이 1594년에 완공되었다. 그후 댐의 구조가 점차 발달되어 관개용수, 수도나 수차(水車), 나아가서는 발전수력·홍수조절 등의 목적으로 응용범위가 확대됨에 따라 근래에 와서는 각종 용수의 수요증대(需要增大)를 위하여 대규모·대용량의 댐이 건설되고 있다. 댐건설의 척도(尺度)는 그 나라의 국력과도 관련되며, 해마다 국제댐회의까지 개최되고 있다.</div>
                            </li>
                            <li>
                                <div class="title">물</div>
                                <div class="con">화학적으로는 산소와 수소의 결합물이며, 천연으로는 도처에 바닷물·강물·지하수·우물물·빗물·온천수·수증기·눈·얼음 등으로 존재한다. 지구의 지각이 형성된 이래 물은 고체·액체·기체의 세 상태로 지구표면에서 매우 중요한 구실을 해왔다. 즉, 지구 표면적의 4분의 3을 바다·빙원(氷原)·호소(湖沼)·하천의 형태로 차지하고 있는데, 이 물을 모두 합하면 약 13억 3000만㎦에 달한다. 또 지구 내부의 흙이나 바위 속에 스며 있거나 지하수의 상태로 약 820만㎦가 존재한다.</div>
                            </li>
                            <li>
                                <div class="title">납 공해</div>
                                <div class="con">납과 그 화합물에 의한 건강 피해. 납과 그 화합물은 호흡기나 소화기를 매개로 인체에 흡입되어 마지막에는 뼛속에 축적된다. 오래 전부터 납을 취급하는 직장의 작업원이 분진을 흡입하여 빈혈 요통 등의 납 중독을 일으키는 일이 종종 있었다.</div>
                            </li>
                            <li>
                                <div class="title">미 베네주엘라 가솔린 배기가스 허용기준 분쟁</div>
                                <div class="con">납과 그 화합물에 의한 건강 피해. 납과 그 화합물은 호흡기나 소화기를 매개로 인체에 흡입되어 마지막에는 뼛속에 축적된다. 오래 전부터 납을 취급하는 직장의 작업원이 분진을 흡입하여 빈혈 요통 등의 납 중독을 일으키는 일이 종종 있었다.</div>
                            </li>
                        </ul>
                        <ul class="pagination">
                            <li class="pageBtn page_first"><a href="#!" arial-label="prev" title="처음"><span aria-hidden="true"></span></a></li>
                            <li class="pageBtn page_prev"><a href="#!" aria-label="prev" title="이전"><span aria-hidden="true"></span></a></li>
                            <li class="on"><a href="#1" title="현재페이지">1</a></li>
                            <li><a href="#!">2</a></li>
                            <li><a href="#!">3</a></li>
                            <li><a href="#!">4</a></li>
                            <li><a href="#!">5</a></li>
                            <li><a href="#!">6</a></li>
                            <li><a href="#!">7</a></li>
                            <li><a href="#!">8</a></li>
                            <li><a href="#!">9</a></li>
                            <li><a href="#!">10</a></li>
                            <li class="pageBtn page_next"><a href="#!" arial-label="Next" title="다음"><span aria-hidden="true"></span></a></li>
                            <li class="pageBtn page_last"><a href="#!" aria-label="Next" title="마지막"><span aria-hidden="true"></span></a></li>
                        </ul>
                        <!-- //검색 결과 -->

						<!-- 담당자 정보 -->
						<div class="manager">
							<p><span>부서명</span>상하수과</p>
							<p><span>전화번호</span>031-8008-6990</p>
						</div>
						<!-- //담당자 정보 -->
					</div>
					<!-- //contents -->

					<!-- Modal -->
					<div class="modal" id="subModal">
						<div class="popup">
							<p class="pop_top">
								상세정보<a href="#!" class="btnpClose"><img src="/html/iwmis/images/btn_close.png" alt="닫기"></a>
							</p>
							<div class="p_cont">
								
								
							</div>
						</div>
					</div>
					<!-- //Modal -->
				</div>
			</div>
		</div>

		<footer class="footer">
			<div class="footer_etc">
				<div class="container">
					<div class="footer_inner">
						<div>
							<p class="f_logo">경기도 수자원본부</p>
							<span>(우)12708 광주시 남종면 산수로 1692 / TEL 8008-6933 <Br/>COPYRIGHT© 2025 경기도수자원본부. ALL RIGHTS RESERVED.</span>
						</div>
						<a href="#!" class="fmy_btn">패밀리 사이트</a>
					</div>
				</div>
			</div>
			<div id="fmy_box" class="fmy_box">
				<div>
					<p>도 관련기관</p>
					<ul>
						<li><a target="_blank" href="https://www.gg.go.kr/">경기도청</a></li>
						<li><a target="_blank" href="https://www.gg.go.kr/contents/contents.do?ciIdx=937&amp;menuId=2599">경기도 수자원본부</a></li>
						<li><a target="_blank" href="https://www.gg.go.kr/gg_health">경기도보건환경연구원</a></li>
						<li><a target="_blank" href="https://www.gri.re.kr/">경기연구원</a></li>
						<li><a target="_blank" href="https://gto.or.kr/">경기관광공사</a></li>
						<li><a target="_blank" href="http://www.gwisc.or.kr/">경기도물산업지원센터</a></li>
						<li><a target="_blank" href="http://www.paldang.or.kr/index.php">특별대책지역수질보전협의회</a></li>
					</ul>
				</div>
				<div>
					<p>중앙관련기관</p>
					<ul>
						<li><a target="_blank" href="http://www.me.go.kr/">환경부</a></li>
						<li><a target="_blank" href="http://www.molit.go.kr/">국토교통부</a></li>
						<li><a target="_blank" href="https://www.weather.go.kr/w/index.do">기상청</a></li>
						<li><a target="_blank" href="https://nier.go.kr/">국립환경과학원</a></li>
						<li><a target="_blank" href="http://www.hrfco.go.kr/">홍수통제소</a></li>
						<li><a target="_blank" href="https://www.nier.go.kr/NIER/egovHanIndex.jsp">물환경연구소</a></li>
						<li><a target="_blank" href="https://www.ekr.or.kr">한국농어촌공사</a></li>
						<li><a target="_blank" href="https://www.kwater.or.kr/">한국수자원공사</a></li>
						<li><a target="_blank" href="https://www.keco.or.kr/">한국환경공단</a></li>
						<li><a target="_blank" href="http://www.khnp.co.kr/">한국수력원자력</a></li>
					</ul>
				</div>
				<div>
					<p>물관련시스템</p>
					<ul>
						<li><a target="_blank" href="http://water.nier.go.kr">물환경정보시스템</a></li>
						<li><a target="_blank" href="https://www.waternow.go.kr/web">국가상수도정보시스템</a></li>
						<li><a target="_blank" href="https://www.hasudoinfo.or.kr/">국가하수도정보시스템</a></li>
						<li><a target="_blank" href="https://www.gims.go.kr/">국가지하수정보센터</a></li>
						<li><a target="_blank" href="http://www.wamis.go.kr/">국가수자원관리종합정보시스템</a></li>
						<li><a target="_blank" href="http://floodmap.go.kr">홍수위험지도정보시스템</a></li>
						<li><a target="_blank" href="http://rawris.ekr.or.kr/main.do">농촌용수종합정보시스템</a></li> 
						<li><a target="_blank" href="http://sgis.nier.go.kr/">토양지하수정보시스템</a></li>
						<li><a target="_blank" href="http://www.water.or.kr/">물정보포털(MyWater)</a></li>
						 <li><a target="_blank" href="http://14.63.69.206:50085">팔당수계물정보시스템</a></li>
					</ul>
				</div>
				<div>
					<p>시/군 홈페이지</p>
					<ul class="fmy_grid">
						<li><a target="_blank" href="http://www.suwon.go.kr/">수원시</a></li>
						<li><a target="_blank" href="https://www.yongin.go.kr/">용인시</a></li>
						<li><a target="_blank" href="http://www.goyang.go.kr/">고양시</a></li>
						<li><a target="_blank" href="http://www.hscity.go.kr/">화성시</a></li>
						<li><a target="_blank" href="http://www.seongnam.go.kr/">성남시</a></li>
						<li><a target="_blank" href="http://www.bucheon.go.kr/">부천시</a></li>
						<li><a target="_blank" href="http://www.nyj.go.kr/">남양주시</a></li>
						<li><a target="_blank" href="http://www.ansan.go.kr/">안산시</a></li>
						<li><a target="_blank" href="http://www.pyeongtaek.go.kr/">평택시</a></li>
						<li><a target="_blank" href="http://www.anyang.go.kr/">안양시</a></li>
						<li><a target="_blank" href="http://www.siheung.go.kr/">시흥시</a></li>
						<li><a target="_blank" href="http://www.paju.go.kr/">파주시</a></li>
						<li><a target="_blank" href="http://www.gimpo.go.kr/">김포시</a></li>
						<li><a target="_blank" href="https://www.ui4u.go.kr/">의정부시</a></li>
						<li><a target="_blank" href="https://www.gjcity.go.kr/">광주시</a></li>
						<li><a target="_blank" href="http://www.hanam.go.kr/">하남시</a></li>
						<li><a target="_blank" href="http://www.gm.go.kr/">광명시</a></li>
						<li><a target="_blank" href="http://www.gunpo.go.kr/">군포시</a></li>
						<li><a target="_blank" href="http://www.yangju.go.kr/">양주시</a></li>
						<li><a target="_blank" href="http://www.osan.go.kr/">오산시</a></li>
						<li><a target="_blank" href="http://www.icheon.go.kr/">이천시</a></li>
						<li><a target="_blank" href="https://www.anseong.go.kr/">안성시</a></li>
						<li><a target="_blank" href="http://www.guri.go.kr/">구리시</a></li>
						<li><a target="_blank" href="http://www.uiwang.go.kr/">의왕시</a></li>
						<li><a target="_blank" href="http://www.pocheon.go.kr/">포천시</a></li>
						<li><a target="_blank" href="http://www.yp21.go.kr/">양평군</a></li>
						<li><a target="_blank" href="http://www.yeoju.go.kr/">여주시</a></li>
						<li><a target="_blank" href="http://www.ddc.go.kr/">동두천시</a></li>
						<li><a target="_blank" href="http://www.gccity.go.kr/">과천시</a></li>
						<li><a target="_blank" href="http://www.gp.go.kr/">가평군</a></li>
						<li><a target="_blank" href="http://www.yeoncheon.go.kr/">연천군</a></li>
					</ul>
				</div>
			</div>
			<script>
				$('.fmy_btn').click(function() {
					$('#fmy_box').toggleClass('open');
				});
			</script>
		</footer>
	</div>
</body>

</html>