<!DOCTYPE html>

<html lang="ko" class="">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>경기도 물정보시스템</title>
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="description" content="경기도 우리집 수돗물, 안심 물놀이 시설, 우리동네 약수터, 아름다운 물길, 수질, 수량, 기상, 통계 제공">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	<link rel="shortcut icon" href="common/images/favicon.ico" type="image/x-icon">

	<!-- common -->
	<link rel="stylesheet" type="text/css" href="common/plugin/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="common/css/default.css">
	<script src="common/js/jquery-1.12.4.min.js"></script>
	<script src="common/js/jquery-ui.js"></script>
	<script src="common/js/customScript.js"></script>
	
	<!-- apex chart lib -->
	<script src="common/js/apexchart.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<!-- plugin -->
	<link rel="stylesheet" type="text/css" href="common/plugin/slick/slick.css">
	<script src="common/plugin/slick/slick.min.js"></script>
	
	<!-- design -->
	<link rel="stylesheet" type="text/css" href="common/css/layout.css">
	<link rel="stylesheet" type="text/css" href="common/css/theme.css">

</head>

<body>
	<div id="wrapper">
		<div class="mask "></div>
		<div class="gnb_bg"></div>
		<header id="header">
			<div class="container" style="position: relative;">
				<button id="mobileMenuBtn" class="mobile_menu_btn"></button>
				<h1>
					<a href="#!" class="logo"><img src="./common/images/logo.png" alt="경기도물정보시스템"/></a>
				</h1>
				<nav id="nav">
					<ul>
						<li class="depth1">
							<a href="#!">생활 속 물정보</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">우리집 수돗물</a>
										<ul>
											<li class="depth3"><a href="#!">상수도 보급률</a></li>
											<li class="depth3"><a href="#!">급수인구 현황</a></li>
											<li class="depth3"><a href="#!">상수도 요금현황</a></li>
											<li class="depth3"><a href="#!">정수시설 현황</a></li>
											<li class="depth3"><a href="#!">(정수)수질검사자료-정수장</a></li>
											<li class="depth3"><a href="#!">(정수)수질검사자료-소규모</a></li>
											<li class="depth3"><a href="#!">취수시설 현황</a></li>
											<li class="depth3"><a href="#!">(원수)수질검사자료-취수장</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">우리동네 약수터</a></li>
									<li class="depth2"><a href="#!">물놀이형 수경시설</a></li>
									<li class="depth2"><a href="#!">아름다운 물길</a></li>
								</ul>
							</div>
						</li>
						<li class="depth1">
							<a href="#!">실시간 물정보</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">주요하천 수질현황</a></li>
									<li class="depth2"><a href="#!">수질</a>
										<ul>
											<li class="depth3"><a href="#!">하천</a></li>
											<li class="depth3"><a href="#!">호소</a></li>
											<li class="depth3"><a href="#!">농업용수</a></li>
											<li class="depth3"><a href="#!">공단배수</a></li>
											<li class="depth3"><a href="#!">도시관류</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">수량</a>
										<ul>
											<li class="depth3"><a href="#!">강우량</a></li>
											<li class="depth3"><a href="#!">수위</a></li>
											<li class="depth3"><a href="#!">유량</a></li>
											<li class="depth3"><a href="#!">댐수위</a></li>
											<li class="depth3"><a href="#!">저수지</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">기상</a></li>
								</ul>
							</div>
						</li>
						<li class="depth1">
							<a href="#!">도민참여 정보</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">노후 수도관 개량지원</a></li>
									<li class="depth2"><a href="#!">수돗물 수질검사 신청</a></li>
									<li class="depth2"><a href="#!">지역 민간단체 활동지원</a>
										<ul>
											<li class="depth3"><a href="#!">물환경 거버넌스 운영</a></li>
											<li class="depth3"><a href="#!">미래세대 물환경 교육</a></li>
											<li class="depth3"><a href="#!">팔당수계 하천정화활동</a></li>
										</ul>
									</li>
								</ul>
							</div>
						</li>
						<li class="depth1">
							<a href="#!">팔당전망대</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">팔당전망대 운영안내</a></li>
									<li class="depth2"><a href="#!">단체 관람 신청</a></li>
									<li class="depth2"><a href="#!">팔당호 역사 관광지</a></li>
									<li class="depth2"><a href="#!">찾아오시는 길</a></li>
								</ul>
							</div>
						</li>
						<li class="depth1">
							<a href="#!">자료마당</a>
							<div class="subnav">
								<ul>
									<li class="depth2"><a href="#!">공지사항</a></li>
									<li class="depth2"><a href="#!">환경자료</a>
										<ul>
											<li class="depth3"><a href="#!">환경 용어</a></li>
											<li class="depth3"><a href="#!">환경 상식</a></li>
											<li class="depth3"><a href="#!">우리동네 환경단체</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">경기도 물 통계</a>
										<ul>
											<li class="depth3"><a href="#!">하천</a></li>
											<li class="depth3"><a href="#!">상수도</a></li>
											<li class="depth3"><a href="#!">하수도</a></li>
											<li class="depth3"><a href="#!">분뇨처리시설</a></li>
										</ul>
									</li>
									<li class="depth2"><a href="#!">수자원백서</a></li>
									<li class="depth2"><a href="#!">보건환경연구원자료</a></li>
								</ul>
							</div>
						</li>
						<li class="depth1"><a href="#!">지도서비스</a>
							<div class="subnav"></div>
						</li>
					</ul>
				</nav>
				<button id="topSearchBtn" class="search_btn"></button>
			</div>
		</header>

		<!-- 모바일 메뉴 -->
		<div id="mobileNav" class="mobile_menu">
			<ul>
				<li class="depth1 on">
					<a href="#!">생활 속 물정보</a>
					<div class="subnav">
						<ul>
							<li class="depth2 drops on"><a href="#!">우리집 수돗물</a>
								<ul>
									<li class="depth3"><a href="#!">상수도 보급률</a></li>
									<li class="depth3"><a href="#!">급수인구 현황</a></li>
									<li class="depth3"><a href="#!">상수도 요금현황</a></li>
									<li class="depth3"><a href="#!">정수시설 현황</a></li>
									<li class="depth3"><a href="#!">(정수)수질검사자료-정수장</a></li>
									<li class="depth3"><a href="#!">(정수)수질검사자료-소규모</a></li>
									<li class="depth3"><a href="#!">취수시설 현황</a></li>
									<li class="depth3"><a href="#!">(원수)수질검사자료-취수장</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">우리동네 약수터</a></li>
							<li class="depth2"><a href="#!">물놀이형 수경시설</a></li>
							<li class="depth2"><a href="#!">아름다운 물길</a></li>
						</ul>
					</div>
				</li>
				<li class="depth1">
					<a href="#!">실시간 물정보</a>
					<div class="subnav">
						<ul>
							<li class="depth2"><a href="#!">주요하천 수질현황</a></li>
							<li class="depth2"><a href="#!">수질</a>
								<ul>
									<li class="depth3"><a href="#!">하천</a></li>
									<li class="depth3"><a href="#!">호소</a></li>
									<li class="depth3"><a href="#!">농업용수</a></li>
									<li class="depth3"><a href="#!">공단배수</a></li>
									<li class="depth3"><a href="#!">도시관류</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">수량</a>
								<ul>
									<li class="depth3"><a href="#!">강우량</a></li>
									<li class="depth3"><a href="#!">수위</a></li>
									<li class="depth3"><a href="#!">유량</a></li>
									<li class="depth3"><a href="#!">댐수위</a></li>
									<li class="depth3"><a href="#!">저수지</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">기상</a></li>
						</ul>
					</div>
				</li>
				<li class="depth1">
					<a href="#!">도민참여 정보</a>
					<div class="subnav">
						<ul>
							<li class="depth2"><a href="#!">노후 수도관 개량지원</a></li>
							<li class="depth2"><a href="#!">수돗물 수질검사 신청</a></li>
							<li class="depth2"><a href="#!">지역 민간단체 활동지원</a>
								<ul>
									<li class="depth3"><a href="#!">물환경 거버넌스 운영</a></li>
									<li class="depth3"><a href="#!">미래세대 물환경 교육</a></li>
									<li class="depth3"><a href="#!">팔당수계 하천정화활동</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</li>
				<li class="depth1">
					<a href="#!">팔당전망대</a>
					<div class="subnav">
						<ul>
							<li class="depth2"><a href="#!">팔당전망대 운영안내</a></li>
							<li class="depth2"><a href="#!">단체 관람 신청</a></li>
							<li class="depth2"><a href="#!">팔당호 역사 관광지</a></li>
							<li class="depth2"><a href="#!">찾아오시는 길</a></li>
						</ul>
					</div>
				</li>
				<li class="depth1">
					<a href="#!">자료마당</a>
					<div class="subnav">
						<ul>
							<li class="depth2"><a href="#!">공지사항</a></li>
							<li class="depth2"><a href="#!">환경자료</a>
								<ul>
									<li class="depth3"><a href="#!">환경 용어</a></li>
									<li class="depth3"><a href="#!">환경 상식</a></li>
									<li class="depth3"><a href="#!">우리동네 환경단체</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">경기도 물 통계</a>
								<ul>
									<li class="depth3"><a href="#!">하천</a></li>
									<li class="depth3"><a href="#!">상수도</a></li>
									<li class="depth3"><a href="#!">하수도</a></li>
									<li class="depth3"><a href="#!">분뇨처리시설</a></li>
								</ul>
							</li>
							<li class="depth2"><a href="#!">수자원백서</a></li>
							<li class="depth2"><a href="#!">보건환경연구원자료</a></li>
						</ul>
					</div>
				</li>
				<li class="depth1"><a href="#!">지도서비스</a>
					<div class="subnav"></div>
				</li>
			</ul>
		</div>
		<!-- //모바일 메뉴 -->

		<!-- 상단 검색 영역 -->
		<div id="searchArea" class="">
			<div class="search_inner">
				<div class="search_box">
					<input type="text" class="" name="waterSearchText" id="waterSearchText" placeholder="검색어를 입력해 주세요" value="">
					<button type="submit" class="searchButton"><i class="tpg-search"></i></button>
			  	</div>
				<div class="search_detail_wrap">
					<div>
						<span class="search_detail_label">검색기간</span>
						<div id="calendar" class="search_detail_calendar mt5">
							<div class="">
								<input type="date" name="waterSearchStartDate" id="waterSearchStartDate" class="input mr10" value="">
								<input type="date" name="waterSearchEndDate" id="waterSearchEndDate" class="input" value="">
							</div>
							<div class="scbtwrap">
								<button type="button" class="scbtnn active" onclick="fn_doTopWeek();">1주</button> 
								<span>/</span>
								<button type="button" class="scbtnn" onclick="fn_doTopMonth();">1개월</button>
								<span>/</span>
								<button type="button" class="scbtnn" onclick="fn_doTopYear();">1년</button>
							</div>
						</div>
					</div>
					<div class="mt30">
						<span class="search_detail_label">검색방법</span>
						<div class="mt5">
							<input type="text" name="waterSearchOptBadText" id="waterSearchOptBadText" class="input textexpt" value="">
							<label for="waterSearchOptBadChk" class="ml10">
								<input type="checkbox" name="waterSearchOptBadChk" id="waterSearchOptBadChk" class="chkbb2" value="Y">
								제외되는 단어
							</label> 
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //상단 검색 영역 -->

		
		<div class="container">
			<div id="sub_contents">
				<aside id="side_nav">
					<div class="page_label"><h3>도민참여 정보</h3></div>
					<nav class="lnb">
						<ul>
							<li class="depth2 "><a href="#!"><span>노후 수도관 개량지원</span></a></li>
							<li class="depth2 on"><a href="#!"><span>수돗물 수질검사 신청</span></a></li>
							<li class="depth2 drops"><a href="#!"><span>지역 민간단체 활동지원</span></a>
								<ul class="">
									<li class="depth3"><a href="#!"><span>물환경 거버넌스 운영</span></a></li>
									<li class="depth3"><a href="#!"><span>미래세대 물환경 교육</span></a></li>
									<li class="depth3"><a href="#!"><span>팔당수계 하천정화활동</span></a></li>
								</ul>
							</li>
						</ul>
					</nav>
				</aside>

				<div class="sub_contents">
					<div class="sub_header">
						<h4>수돗물 수질검사 신청</h4>
						<ol class="breadcrumb">
							<li class="home"><a href="#!"><span class="sr-only">홈으로</span></a></li>
							<li><a href="#!">도민참여 정보</a></li>
							<li><a href="#!">수돗물 수질검사 신청</a></li>
						</ol>
					</div>

					<!-- contents -->
					<div class="contents">

						<div class="mb60">
                            <h5 class="h5cTit mb10">우리집 수돗물 안심확인제 소개</h5>
                            <div class="con_box">
                                우리나라 수돗물은 세계적으로 안전성을 인정받은 최고 수준의 자랑거리이자 국민을 위한 공공재입니다.<Br/>
                                이제 ‘수돗물 안심확인제’로 우리집의 수돗물 수질을 직접 눈으로 확인해보세요! <Br/>
                                온라인 신청과 전화 신청을 통해 우리집 수도꼭지의 수질검사를 무료로 받아보실 수 있습니다.
                            </div>
                        </div>

                        <div class="mb60">
                            <h5 class="h5cTit mb10">우리집 수돗물 안심확인제란?</h5>
                            <div class="con_box">
                                우리나라 수돗물 수질은 세계 8위! (UN, 국가별 수질지수 순위) 과학적인 정수체계와 철저한 수질관리로 수돗물 시스템의 우수성을 인정받은 한국<br/>
                                <p class="pt10 pb5"><strong>왜 우리는 수돗물을 음용하지 않는 걸까요?</strong></p>
                                상수도 관련 기관들의 수돗물 인식관련 시민 설문조사 결과 수돗물을 마시지 않는 가장 큰 이유는 ‘막연한 불안감’으로 나타났습니다.<br/>
                                ‘우리집 수돗물 안심확인제’는 국민들의 수돗물 수질에 대한 막연한 불안감 해소를 위한 국가 차원의 수도꼭지 수질 정보 제공의 필요성을
                                체감하여, 각 지자체에서 시행하고 있는 무료 수질검사를 통합, 국민들에게 동일한 수질검사 서비스를 제공하기 위해 시작되었습니다.
                            </div>
                            
                            <ul class="ul_list mt20">
                                <li>2012년 수돗물 만족도 조사 결과에 따르면 수돗물 음용률은 53.1%(직접 음용률 3.7%)에 불과하며 수돗물을 마시지 않는 이유는 ‘막연한 불안감’으로 31.9%를 차지하며 가장 높게 나타남</li>
                                <li>주요국 음용률 (`02년) : 미국 82%, 영국 90% 등</li>
                                <li>이제 물사랑 홈페이지에서 수질검사의 신청과 수질검사 결과 확인을 편리하게 이용해보세요!</li>
                                <li><span class="text-water">수돗물을 마시지 않는 이유</span>
                                    <div class="table-responsive mt20">
                                        <table class="tbl type2 text-center" summary="정보를 제공합니다.">
                                            <caption>정보</caption>
                                            <colgroup>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col" colspan="3">직접요인 (27.9%)</th>
                                                    <th scope="col" colspan="4">심리적 요인 (66.9%)</th>
                                                    <th scope="col" rowspan="2">기타</th>
                                                </tr>
                                                <tr>
                                                    <th scope="col">물맛이 없어서</th>
                                                    <th scope="col">녹물 등 이물질</th>
                                                    <th scope="col">정수기가 좋아서</th>
                                                    <th scope="col">막연한 불안감</th>
                                                    <th scope="col">상수원 오염 우려</th>
                                                    <th scope="col">물탱크, 수도관 우려</th>
                                                    <th scope="col">부정적 언론 보도</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>15.0%</td>
                                                    <td>10.2%</td>
                                                    <td>2.7%</td>
                                                    <td>31.9%</td>
                                                    <td>14.6%</td>
                                                    <td>18.3%</td>
                                                    <td>2.1%</td>
                                                    <td>5.2%</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p class="text-gry pt5 text-right">※ 12년 수돗물 만족도 조사 결과(월드리서치)</p>
                                </li>
                            </ul>
                        </div>

                        <div class="mb60">
                            <h5 class="h5cTit mb10">신청방법 및 절차</h5>
                            <ul class="process_box">
                                <li>
                                    <div class="item">
                                        <span>STEP 01</span>
                                        <div>
                                            신청
                                            <em>(일반가정)</em>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <span>STEP 02</span>
                                        <div>
                                            가정 방문
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <span>STEP 03</span>
                                        <div>
                                            채수 및 안내
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <span>STEP 04</span>
                                        <div>
                                            수질검사<br/>기관 의뢰
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item">
                                        <span>STEP 05</span>
                                        <div>
                                           수질검사<br/>결과 확인
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="mb60">
                            <h5 class="h5cTit mb10">수돗물 안심확인제 상담신청</h5>
                            <div class="con_box">
                                <ul class="ul_list">
                                    <li>경기도 콜센터 : 031)120</li>
                                    <li>거주지별 관할 수도부서</li>
                                </ul>
                            </div>
                            <div class="table-responsive mt20">
                                <table class="tbl type2 text-center" summary="정보를 제공합니다.">
                                    <caption>정보</caption>
                                    <colgroup>
                                        <col style="width: 33.3%;">
                                        <col style="width: 33.3%;">
                                        <col style="width: 33.3%;">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>시군명</th>
                                            <th>담당부서</th>
                                            <th>전화번호</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>수원시</td>
                                            <td>맑은물생산과</td>
                                            <td>031-228-4898</td>
                                        </tr>
                                        <tr>
                                            <td>고양시</td>
                                            <td>수도시설과</td>
                                            <td>031-8075-4543</td>
                                        </tr>
                                        <tr>
                                            <td>용인시</td>
                                            <td>정수과</td>
                                            <td>031-324-4257</td>
                                        </tr>
                                        <tr>
                                            <td>성남시</td>
                                            <td>물생산과</td>
                                            <td>031-729-4144</td>
                                        </tr>
                                        <tr>
                                            <td>부천시</td>
                                            <td>정수과</td>
                                            <td>032-625-3355</td>
                                        </tr>
                                        <tr>
                                            <td>화성시</td>
                                            <td>맑은물시설과</td>
                                            <td>031-5189-6978</td>
                                        </tr>
                                        <tr>
                                            <td>안산시</td>
                                            <td>정수과</td>
                                            <td>031-481-3825</td>
                                        </tr>
                                        <tr>
                                            <td>남양주시</td>
                                            <td>수도과</td>
                                            <td>031-590-4631</td>
                                        </tr>
                                        <tr>
                                            <td>안양시</td>
                                            <td>정수과</td>
                                            <td>031-8045-2380</td>
                                        </tr>
                                        <tr>
                                            <td>평택시</td>
                                            <td>수도과</td>
                                            <td>031-8024-7375</td>
                                        </tr>
                                        <tr>
                                            <td>시흥시</td>
                                            <td>상수도과</td>
                                            <td>031-310-6135</td>
                                        </tr>
                                        <tr>
                                            <td>파주시</td>
                                            <td>파주수도관리단</td>
                                            <td>031-950-0753</td>
                                        </tr>
                                        <tr>
                                            <td>의정부시</td>
                                            <td>수도과</td>
                                            <td>031-870-6335</td>
                                        </tr>
                                        <tr>
                                            <td>김포시</td>
                                            <td>수도과</td>
                                            <td>031-980-5681</td>
                                        </tr>
                                        <tr>
                                            <td>광주시</td>
                                            <td>수도과</td>
                                            <td>031-760-2618</td>
                                        </tr>
                                        <tr>
                                            <td>광명시</td>
                                            <td>수도과</td>
                                            <td>02-2680-6276</td>
                                        </tr>
                                        <tr>
                                            <td>군포시</td>
                                            <td>수도과</td>
                                            <td>031-390-3297</td>
                                        </tr>
                                        <tr>
                                            <td>하남시</td>
                                            <td>상수도과</td>
                                            <td>031-790-5006</td>
                                        </tr>
                                        <tr>
                                            <td>오산시</td>
                                            <td>수도과</td>
                                            <td>031-8036-6389</td>
                                        </tr>
                                        <tr>
                                            <td>양주시</td>
                                            <td>수도과</td>
                                            <td>031-8082-6842</td>
                                        </tr>
                                        <tr>
                                            <td>이천시</td>
                                            <td>수도과</td>
                                            <td>031-644-4246</td>
                                        </tr>
                                        <tr>
                                            <td>구리시</td>
                                            <td>수도과</td>
                                            <td>031-550-8583</td>
                                        </tr>
                                        <tr>
                                            <td>안성시</td>
                                            <td>수도과</td>
                                            <td>031-678-3162</td>
                                        </tr>
                                        <tr>
                                            <td>포천시</td>
                                            <td>상하수과</td>
                                            <td>031-538-2583</td>
                                        </tr>
                                        <tr>
                                            <td>의왕시</td>
                                            <td>상하수도사업소</td>
                                            <td>031-345-3793</td>
                                        </tr>
                                        <tr>
                                            <td>양평군</td>
                                            <td>수도사업소</td>
                                            <td>031-770-3716</td>
                                        </tr>
                                        <tr>
                                            <td>여주시</td>
                                            <td>수도사업소</td>
                                            <td>031-887-3508</td>
                                        </tr>
                                        <tr>
                                            <td>동두천시</td>
                                            <td>환경사업소</td>
                                            <td>031-860-3188</td>
                                        </tr>
                                        <tr>
                                            <td>가평군</td>
                                            <td>상수도사업소</td>
                                            <td>031-580-4425</td>
                                        </tr>
                                        <tr>
                                            <td>과천시</td>
                                            <td>맑은물사업소</td>
                                            <td>02-2150-3733</td>
                                        </tr>
                                        <tr>
                                            <td>연천군</td>
                                            <td>맑은물관리사업소</td>
                                            <td>031-839-4346</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


						<!-- 담당자 정보 -->
						<!-- //담당자 정보 -->
					</div>
					<!-- //contents -->

					<!-- Modal -->
					<!-- //Modal -->
				</div>
			</div>
		</div>

		<footer class="footer">
			<div class="footer_etc">
				<div class="container">
					<div class="footer_inner">
						<div>
							<p class="f_logo">경기도 수자원본부</p>
							<span>(우)12708 광주시 남종면 산수로 1692 / TEL 8008-6933 <Br/>COPYRIGHT© 2025 경기도수자원본부. ALL RIGHTS RESERVED.</span>
						</div>
						<a href="#!" class="fmy_btn">패밀리 사이트</a>
					</div>
				</div>
			</div>
			<div id="fmy_box" class="fmy_box">
				<div>
					<p>도 관련기관</p>
					<ul>
						<li><a target="_blank" href="https://www.gg.go.kr/">경기도청</a></li>
						<li><a target="_blank" href="https://www.gg.go.kr/contents/contents.do?ciIdx=937&amp;menuId=2599">경기도 수자원본부</a></li>
						<li><a target="_blank" href="https://www.gg.go.kr/gg_health">경기도보건환경연구원</a></li>
						<li><a target="_blank" href="https://www.gri.re.kr/">경기연구원</a></li>
						<li><a target="_blank" href="https://gto.or.kr/">경기관광공사</a></li>
						<li><a target="_blank" href="http://www.gwisc.or.kr/">경기도물산업지원센터</a></li>
						<li><a target="_blank" href="http://www.paldang.or.kr/index.php">특별대책지역수질보전협의회</a></li>
					</ul>
				</div>
				<div>
					<p>중앙관련기관</p>
					<ul>
						<li><a target="_blank" href="http://www.me.go.kr/">환경부</a></li>
						<li><a target="_blank" href="http://www.molit.go.kr/">국토교통부</a></li>
						<li><a target="_blank" href="https://www.weather.go.kr/w/index.do">기상청</a></li>
						<li><a target="_blank" href="https://nier.go.kr/">국립환경과학원</a></li>
						<li><a target="_blank" href="http://www.hrfco.go.kr/">홍수통제소</a></li>
						<li><a target="_blank" href="https://www.nier.go.kr/NIER/egovHanIndex.jsp">물환경연구소</a></li>
						<li><a target="_blank" href="https://www.ekr.or.kr">한국농어촌공사</a></li>
						<li><a target="_blank" href="https://www.kwater.or.kr/">한국수자원공사</a></li>
						<li><a target="_blank" href="https://www.keco.or.kr/">한국환경공단</a></li>
						<li><a target="_blank" href="http://www.khnp.co.kr/">한국수력원자력</a></li>
					</ul>
				</div>
				<div>
					<p>물관련시스템</p>
					<ul>
						<li><a target="_blank" href="http://water.nier.go.kr">물환경정보시스템</a></li>
						<li><a target="_blank" href="https://www.waternow.go.kr/web">국가상수도정보시스템</a></li>
						<li><a target="_blank" href="https://www.hasudoinfo.or.kr/">국가하수도정보시스템</a></li>
						<li><a target="_blank" href="https://www.gims.go.kr/">국가지하수정보센터</a></li>
						<li><a target="_blank" href="http://www.wamis.go.kr/">국가수자원관리종합정보시스템</a></li>
						<li><a target="_blank" href="http://floodmap.go.kr">홍수위험지도정보시스템</a></li>
						<li><a target="_blank" href="http://rawris.ekr.or.kr/main.do">농촌용수종합정보시스템</a></li> 
						<li><a target="_blank" href="http://sgis.nier.go.kr/">토양지하수정보시스템</a></li>
						<li><a target="_blank" href="http://www.water.or.kr/">물정보포털(MyWater)</a></li>
						 <li><a target="_blank" href="http://14.63.69.206:50085">팔당수계물정보시스템</a></li>
					</ul>
				</div>
				<div>
					<p>시/군 홈페이지</p>
					<ul class="fmy_grid">
						<li><a target="_blank" href="http://www.suwon.go.kr/">수원시</a></li>
						<li><a target="_blank" href="https://www.yongin.go.kr/">용인시</a></li>
						<li><a target="_blank" href="http://www.goyang.go.kr/">고양시</a></li>
						<li><a target="_blank" href="http://www.hscity.go.kr/">화성시</a></li>
						<li><a target="_blank" href="http://www.seongnam.go.kr/">성남시</a></li>
						<li><a target="_blank" href="http://www.bucheon.go.kr/">부천시</a></li>
						<li><a target="_blank" href="http://www.nyj.go.kr/">남양주시</a></li>
						<li><a target="_blank" href="http://www.ansan.go.kr/">안산시</a></li>
						<li><a target="_blank" href="http://www.pyeongtaek.go.kr/">평택시</a></li>
						<li><a target="_blank" href="http://www.anyang.go.kr/">안양시</a></li>
						<li><a target="_blank" href="http://www.siheung.go.kr/">시흥시</a></li>
						<li><a target="_blank" href="http://www.paju.go.kr/">파주시</a></li>
						<li><a target="_blank" href="http://www.gimpo.go.kr/">김포시</a></li>
						<li><a target="_blank" href="https://www.ui4u.go.kr/">의정부시</a></li>
						<li><a target="_blank" href="https://www.gjcity.go.kr/">광주시</a></li>
						<li><a target="_blank" href="http://www.hanam.go.kr/">하남시</a></li>
						<li><a target="_blank" href="http://www.gm.go.kr/">광명시</a></li>
						<li><a target="_blank" href="http://www.gunpo.go.kr/">군포시</a></li>
						<li><a target="_blank" href="http://www.yangju.go.kr/">양주시</a></li>
						<li><a target="_blank" href="http://www.osan.go.kr/">오산시</a></li>
						<li><a target="_blank" href="http://www.icheon.go.kr/">이천시</a></li>
						<li><a target="_blank" href="https://www.anseong.go.kr/">안성시</a></li>
						<li><a target="_blank" href="http://www.guri.go.kr/">구리시</a></li>
						<li><a target="_blank" href="http://www.uiwang.go.kr/">의왕시</a></li>
						<li><a target="_blank" href="http://www.pocheon.go.kr/">포천시</a></li>
						<li><a target="_blank" href="http://www.yp21.go.kr/">양평군</a></li>
						<li><a target="_blank" href="http://www.yeoju.go.kr/">여주시</a></li>
						<li><a target="_blank" href="http://www.ddc.go.kr/">동두천시</a></li>
						<li><a target="_blank" href="http://www.gccity.go.kr/">과천시</a></li>
						<li><a target="_blank" href="http://www.gp.go.kr/">가평군</a></li>
						<li><a target="_blank" href="http://www.yeoncheon.go.kr/">연천군</a></li>
					</ul>
				</div>
			</div>
			<script>
				$('.fmy_btn').click(function() {
					$('#fmy_box').toggleClass('open');
				});
			</script>
		</footer>
	</div>
</body>

</html>