@charset "UTF-8";
#mapControlBox, .map_marker, .map_marker_title, .mapPopUp {
    position: absolute;
    z-index: 10; /* 지도보다 위에 오도록 설정 */
}

#map {
    position: relative;
    z-index: 1;
}

.map-tooltip {
    position: absolute;
    z-index: 1000; /* 충분히 높게! */
    pointer-events: auto; /* 닫기 버튼도 동작하게 */
    min-width: 200px;
}
