@charset "UTF-8";

/*---- Customer CSS ----*/

/* table css */
.tbl {width:100%;border-collapse:collapse;border-top:1px solid #4b4b4b;}
.tbl:after {display:block;visibility:hidden;clear:both;content:""}
.tbl caption {visibility:hidden;overflow:hidden;width:0;height:0;line-height:0;text-indent:-9999em;padding:0;}
.tbl tr th,
.tbl tr td {font-size: 14px;padding:10px 8px;border-bottom:#c6c6c6 solid 1px;border-right:0;border-left:0;line-height:1.4em;}
.tbl tr th:last-child,
.tbl tr td:last-child {border-right:0 !important;}
.tbl tr th:first-child,
.tbl tr td:first-child {border-left:0 !important;}
.tbl th {color:#333;font-weight:400;text-align:center;background-color:#F7F7F7;}
.tbl thead tr th{background-color:#F7F7F7;border-right: 0;border-bottom: 1px solid #4b4b4b;}
.tbl td {color:#676767;background-color: #ffffff;}
.tbl tfoot th,
.tbl tfoot td {border-top:none;}

.tbl.type2 {border-top: 2px solid #1e3f88;}
.tbl.type2 tr th {border: 1px solid #cedcf7;background-color: #f7f9fc;color: #1e3f88;}
.tbl.type2 tr td {border: 1px solid #e0e1e3;}

.table-responsive {overflow-x: auto;white-space: nowrap;}
@media (max-width: 768px) {
    .table-responsive {width: 100%;margin-bottom: 15px;overflow-y: hidden;-ms-overflow-style: -ms-autohiding-scrollbar;/*border: 1px solid #ddd;*/}
}


/* input */
.selectBox {min-width: 100px;height: 28px;border: 1px solid #ccc;}


/* Typography */
.h5Tit {position: relative;color: #000000;font-weight: 500;letter-spacing: -.03em;font-size: 20px;margin: 0 0 20px 0;}
.h5Tit::before {content: "";width: 35px;height: 2px;background-color: #09408A;position: absolute;top: -8px;left: 0;}
.h5cTit {position: relative;color: #09408A;font-weight: 500;letter-spacing: -.03em;font-size: 20px;}
.h5cTit::before {content: "";width: 5px;height: 5px;background-color: #09408A;position: absolute;top: -8px;left: 0;border-radius: 10px;}
.h5cTit::after {content: "";width: 5px;height: 5px;background-color: #80c85d;position: absolute;top: -8px;left: 5px;border-radius: 10px;}
.h6Tit {position: relative;color: #333333;font-weight: 400;letter-spacing: -.03em;font-size: 18px;margin: 0 0 20px 0;padding-left: 15px;}
.h6Tit::before {content: "";width: 8px;height: 8px;border:2px solid #60af39;position: absolute;top: 6px;left: 0;}
.h6cTit {font-size: 1.1rem;font-weight: 500;color:#000000;margin-bottom: 15px;}

.text-water {color: #09408A !important;}
.text-water2 {color: #0a55a5 !important;}
.text-bl {color: #000000 !important;}
.text-gry {color: #797979 !important;}


.txt_alert {position: relative;}
.txt_alert::before {content: "";display: inline-block;width: 20px;height: 20px;margin-right: 5px;background: url("../images/ico_alert.svg") no-repeat;vertical-align: -5px;}


/* contents box */
.con_box {position: relative;padding: 20px;background-color: #F7F7F7;}
.con_line_box {position: relative;padding: 20px;border: 1px solid #C9C9C9;}
.con_dot_box {position: relative;padding: 20px;border: 1px dotted #C9C9C9;}
.con_b_box {position: relative;padding: 5px;background: url("../images/b_pattern.png");}
.con_b_box .inner {background-color: #ffffff;padding: 20px;}
.text_box {background: #f8f8f8;color: #333;border: 1px solid #ebebeb;padding: 1rem 2rem;}


/* buttons */
.btn_link {padding: 5px 10px;font-size: 14px;line-height: 22px;border: 1px solid #09408A;background-color: #ffffff;}
.btn_link:hover {background-color: #09408A;color:#ffffff;}

/* icon buttons */
.btn_ico_download {width: 28px;height: 28px;/*margin-top: -6px;*/border-radius: 3px;background:#09408A url("../images/ico_download.svg") no-repeat center;}
.btn_ico_more {width: 28px;height: 28px;margin-top: -6px;border-radius: 3px;background:#eee url(../images/ico_add.svg) no-repeat center;}

.button_group {display: flex;align-items: center;}


/* tab */
.tab_menu {display: flex;column-gap: 3px;}
.tab_menu li {flex: 1;text-align: center;}
.tab_menu li a {display: block;padding: 12px;background-color:#FAFAFA;border: 1px solid #d5d5d5;transition: all 0.2s ease-out;}
.tab_menu li.active a {background-color: #09408A;border-color: #09408A;color: #ffffff;}
.tab_con_wrap .tab_con {display: none;}
.tab_con_wrap .tab_con.active {display: block;}



/* ul, ol, dl style */
.ul_sm_list li {font-size: 14px;color: #4a4a4a;}
ul[class^="ul_list"] li {position:relative;padding-left:14px;}
ul[class^="ul_list"] > li:before {content:"";position:absolute;top:11px;left:2px;width:3px;height:3px;border-radius:50%;display:inline-block;background-color:#929292;}

dl[class^="dl_list"] dt {position:relative;padding-left:10px;color:#000000;font-weight: 500;}
dl[class^="dl_list"] dt:before {content:"";position:absolute;top:11px;left:2px;width:2px;height:2px;border-radius:50%;display:inline-block;background-color:#000000;}
dl[class^="dl_list"] dd {padding-left:10px;}

ol[class^="ol_num_list"] {counter-reset:numbering;}
ol[class^="ol_num_list"] > li {position: relative;margin-bottom: 7px;padding-left: 31px;font-size: 16px;color: #444;}
ol[class^="ol_num_list"] > li::before {content: "";display: block;position: absolute;left: 0;width: 26px;text-align: center;border: 1px solid #2654a3;color: #2654a3;background: #ffffff;counter-increment:numbering;content:counter(numbering);}




/* 네이버지도 */
#mapService {position: relative;width: 100%;height: 100vh;background-color: #ffffff;overflow: hidden;}
#sampleMap {height: 100%;background-image: url("../images/sample_map.jpg");background-size: cover;}


/* 지도 컨트롤 박스 (필터) */
#mapControlBox {position: relative;width: 100%;}
.location_group {position: absolute;top: 10px;left: 10px;display: flex;gap: 10px;margin-right: 45px;}
.btn_location > div {width: 40px;height: 40px;background-color: #ffffff;background-image: url("../images/ico_location.svg");background-repeat: no-repeat;background-position: center;border-radius: 8px;box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .1);}
.location_group .mapSelect {width: 130px;height: 40px;border-radius: 8px;border-color: #ffffff;background: #ffffff;box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .1);}

.filter_group {position: absolute;top: 10px;left: 235px;}
.filter_group .filter_m_btn {display: none;}
.filter_group ul {display: flex;gap: 10px;}
.filter_group ul li button {font-size: 14px;padding: 11px 12px 11px 37px;background-color: #ffffff;background-repeat: no-repeat;background-position: 12px center;border-radius: 8px;border: 1px solid #ffffff;box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .1);}
.filter_group ul li:first-child button {padding-left: 12px;}
.filter_group ul li.flt_1 button {background-image:url("../images/ico_flt_1.svg");}
.filter_group ul li.flt_2 button {background-image:url("../images/ico_flt_2.svg");}
.filter_group ul li.flt_3 button {background-image:url("../images/ico_flt_3.svg");}
.filter_group ul li.flt_4 button {background-image:url("../images/ico_flt_4.svg");}
.filter_group ul li.flt_5 button {background-image:url("../images/ico_flt_5.svg");}
.filter_group ul li.flt_6 button {background-image:url("../images/ico_flt_6.svg");}
.filter_group ul li:hover button {border: 1px solid #0445BA;}
.filter_group ul li.check button {border: 1px solid #0445BA;color:#0445BA;font-weight: 500;}
.filter_group ul li.noIco button {padding: 11px 12px;}

@media (max-width: 991px) {
    .filter_group {left: unset;right: 10px;}
    .filter_group .filter_m_btn {display: block;width: 40px;height: 40px;margin-bottom: 10px;background-color: #09408a;background-image: url("../images/ico_list.svg");background-repeat: no-repeat;background-position: center center;border-radius: 8px;float: right;}
    .filter_group ul {height: 0;gap: 5px;flex-direction: column;align-items: flex-end;clear: both;transition: all 0.2s ease-out;overflow: hidden;opacity: 0;}
    .filter_group ul.active {height: 100%;opacity: 1;}
}



/* 지도 마커 */
.map_marker {position: absolute;top: 50%;left: 50%;transform: translate(-14px, -35px);}
.map_marker .point_img {width: 28px;height: 35px;background-image: url("../images/ico_marker_1.svg");background-repeat: no-repeat;}
.map_marker_title {position: absolute;top: 50%;left: 50%;}
.map_marker_title span {/* display: none; */padding: 7px 23px;font-size: 14px;font-weight: 500;color: #333333;background: #ffffff;border-radius: 10px;}



/* 시설 정보 팝업 */
.mapPopUp {position:absolute;top: 50%;left: 50%;width: 410px;padding: 10px;background: #ffffff;border-radius: 10px;box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, .1);}
.mapPopUp .place_title {position: relative;display: flex;font-size: 14px;padding-bottom: 5px;border-bottom: 1px solid #00000010;}
.mapPopUp .place_title .flt_icon {padding-left:20px;background-repeat: no-repeat;background-position: 0 center;color: #000000;}
.mapPopUp .place_title .flt_icon.flt_1 {background-image:url("../images/ico_flt_1_b.svg");}
.mapPopUp .place_title .flt_icon.flt_2 {background-image:url("../images/ico_flt_2_b.svg");}
.mapPopUp .place_title .flt_icon.flt_3 {background-image:url("../images/ico_flt_3_b.svg");}
.mapPopUp .place_title .flt_icon.flt_4 {background-image:url("../images/ico_flt_4_b.svg");}
.mapPopUp .place_title .flt_icon.flt_5 {background-image:url("../images/ico_flt_5_b.svg");}
.mapPopUp .place_title .flt_icon.flt_6 {background-image:url("../images/ico_flt_6_b.svg");}
.mapPopUp .place_title span {padding-left: 20px;}
.mapPopUp .place_title span.able {color:#1a5cd0;}
.mapPopUp .place_title span.disable {color:#D24545;}
.mapPopUp .place_title .btn_close {position: absolute;top: 0;right: 0;width: 22px;height: 22px;background: url("../images/ico_close.svg") no-repeat center center;}

.mapPopUp .place_con {display: flex;gap: 20px;padding: 15px 5px;}
.mapPopUp .place_con .img {width: 175px;height: 117px;background-repeat: no-repeat;background-size: cover;background-position: center;}
.mapPopUp .place_con .place_name {font-size: 15px;font-weight: 500;}
.mapPopUp .place_con .place_info {margin-top: 9px;}
.mapPopUp .place_con .place_info li {font-size: 13px;font-weight: 400;color: #333333;}
    

/* 상단 검색 버튼 */
.search_btn {display: block;width: 45px;height: 45px;border: 1px solid #DBDBDB;border-radius: 50%;position: absolute;top: 22px;right: 0;background: url("../images/ico_search.svg") no-repeat center center;}
.search_btn.active {background: url("../images/ico_close2.svg") no-repeat center center;}
@media (max-width: 1200px) {
    .search_btn {right: 15px;border: 0;}
}
@media (max-width: 991px) {
    .search_btn {top:12px;}
}

/* 검색 영역 */
#searchArea {display: none;position: absolute;top: 95px;left: 0;width: 100%;height: 405px;background: #ffffff;border-bottom: 1px solid #00000015;z-index: 12;box-shadow: rgba(0, 0, 0, .2) 0px 11px 45px;}
#searchArea.active {display: block;}
#searchArea .search_inner {width: 640px;margin: 0 auto;padding-top: 70px;}
#searchArea .search_box {position: relative;}
#searchArea .search_box input {width: 100%;height: 60px;padding-left: 30px;padding-right: 80px;border: 2px solid #1A5CD0;border-radius: 5em;}
#searchArea .search_box .searchButton {position: absolute;top: 0;right: 0;width: 70px;height: 60px;background: url("../images/ico_search2.svg") no-repeat center center;}

#searchArea .search_detail_wrap {margin-top: 50px;}
#searchArea .search_detail_label {color: #000000;font-weight: 600;}

#searchArea .search_detail_calendar {display: flex;align-items: center;}
#searchArea .input {width: 170px;padding-top: 5px;padding-bottom: 5px;border-color: #00000015;border-radius: 5px;}
#searchArea .search_detail_calendar .scbtwrap {display: flex;margin-left: 30px;}
#searchArea .search_detail_calendar .scbtwrap span {color: #808080;}
#searchArea .search_detail_calendar .scbtwrap .scbtnn {position: relative;padding:0 10px;font-size: 14px;color: #808080;}
#searchArea .search_detail_calendar .scbtwrap .scbtnn.active {color: #0445BA;font-weight: 600;text-decoration: underline;}
@media (max-width: 991px) {
    #searchArea {top:70px;border-top: 1px solid #dddddd;}
}
@media (max-width: 767px) {
    #searchArea {height: auto;}
    #searchArea .search_inner {width: 100%;padding: 0;}
    #searchArea .search_box {margin: 20px;}
    #searchArea .search_box input {height: 45px;border-radius: 5px;}
    #searchArea .search_box .searchButton {width: 30px;height: 30px;top: 7px;right: 6px;}
    #searchArea .search_detail_wrap {background-color: #F7F7F7;padding: 20px;margin-top: 20px;}
    #searchArea .search_detail_calendar {flex-direction: column-reverse;align-items: flex-start;row-gap: 10px;}
    #searchArea .search_detail_calendar .scbtwrap {margin: 0;}
}





/*---- MAIN ----*/
.main_wrap {position: relative;padding:30px 0;overflow: hidden;}
.main_wrap::after {content: "";width: 654px;height: 686px;position: absolute;bottom: -190px;left: -320px;background:url("../images/bg1.png") no-repeat;z-index: -1;}
.main_wrap::before {content: "";width: 521px;height: 546px;position: absolute;bottom: 180px;right: -220px;background:url("../images/bg2.png") no-repeat;z-index: -1;}

.section1 {display: flex;gap: 30px;}
.section2 {display: flex;gap: 30px;}
.section_title {margin-bottom: 20px;font-size: 20px;font-weight: 600;color: #000000;}
@media (max-width: 1300px) {
    .section1 {align-items: flex-start;}
}
@media (max-width: 1100px) {
    .section1 {flex-direction: column;}
}
@media (max-width: 1023px) {
    .section2 {flex-direction: column;}
}
@media (max-width: 767px) {
    .main_wrap {padding: 0;}
    .main_wrap::before,
    .main_wrap::after {display: none;}
    
    .section_title {font-size: 18px;}
}



/* 메인 슬라이드 배너 */
.main_slide_wrap {position: relative;width: 855px;height: 444px;border-radius: 15px;background-color: pink;overflow: hidden;}
.main_slide_wrap .custom_paging {position: absolute;bottom: 45px;left: 50px;width: 85px;padding: 3px 0;background: #00000060;color: #ffffff;text-align: center;border-radius: 20px;}
.main_slide_wrap .slide_controler {position: absolute;bottom: 45px;left: 140px;background: #00000060;border-radius: 20px;}
.main_slide_wrap .slide_controler button {width: 30px;height: 30px;}
.main_slide_wrap .slide_controler button.btn_pause {background:url("../images/slick_pause.png") no-repeat center;}
.main_slide_wrap .slide_controler button.btn_play {background:url("../images/slick_play.png") no-repeat center;}

.main_slide .slick-arrow {position: absolute;bottom: 48px;width: 25px;height: 25px;text-indent: -999px;background-position: center;background-repeat: no-repeat;z-index: 1;}
.main_slide .slick-prev {background-image: url("../images/slick_left.png");left: 52px;}
.main_slide .slick-next {background-image: url("../images/slick_right.png");left: 108px;}

@media (max-width: 1300px) {
    .main_slide_wrap {width: calc(100% - 425px);height: auto;}
}
@media (max-width: 1100px) {
    .main_slide_wrap {width: 100%;}
}
@media (max-width: 767px) {
    .main_slide .slick-arrow {bottom: 17px;}
    .main_slide .slick-prev {left:12px;}
    .main_slide .slick-next {left:68px;}
    .main_slide_wrap .custom_paging {bottom: 15px;left: 10px;}
    .main_slide_wrap .slide_controler {bottom: 15px;left: 100px;}
}



/* 생활 속 물정보 */
.waterInLife {display: none;}
@media (max-width: 767px) {
    .waterInLife {display: block;width: 100%;}

    .waterInLife .water_search {display: flex;justify-content: space-between;padding-bottom: 5px;}
    .waterInLife .water_search select {width: 125px;height: 34px;border-radius: 8px;border-color: #00000015;background: #ffffff;}
    .waterInLife .water_search button {width: 32px;height: 32px;border-radius: 8px;}
    .waterInLife .water_search button.btn_location { background: #6A6A6A url("../images/ico_location_w.svg") no-repeat center;}
    .waterInLife .water_search button.btn_map { background: #464646 url("../images/ico_map.svg") no-repeat center;}

    .waterInLife .water_sch_result {width: 100%;padding: 15px;background:#F7F7F7;border-radius: 10px;}
    .waterInLife .water_sch_result .item {display: flex;justify-content: space-between;padding-bottom: 15px;}
    .waterInLife .water_sch_result .item:last-child {padding: 0;}
    .waterInLife .water_sch_result .item > div {display: flex;align-items: center;column-gap: 10px;}
    .waterInLife .water_sch_result .item .icon {width: 30px;height: 30px;border-radius: 8px;background: #0aa4b4;display: flex;align-items: center;justify-content: center;}
    .waterInLife .water_sch_result .item p {flex: 1;padding-right: 50px;text-align: right;color: #1A5CD0;}
    .waterInLife .water_sch_result .item button {padding: 0 10px;background: #09408A;color: #ffff;border-radius: 5px;font-size: 14px;}
}



/* 수돗물 현황 */
.water_info {flex: 1;}
.water_info .water_search {display: flex;justify-content: space-between;align-items: center;}
.water_info .water_search .text {font-size: 20px;}
.water_info .water_search .waterSelect {width: 125px;height: 34px;border-radius: 8px;border-color: #00000015;background: #ffffff;}
.water_info .water_search .btn {color: #ffffff;font-size: 14px;background: #6A6A6A;border-radius: 8px;margin-left: 5px;padding: 3px 10px;}
.water_info .water_search .btn_location {display: none;}
.water_info .water_infoBox {width: 100%;height: auto;padding: 20px 30px;margin-top: 10px;border-radius: 15px;background: linear-gradient(180deg, rgba(84,188,236,1) 0%, rgba(26,92,208,1) 100%);}
.water_infoBox .water_price {display: flex;gap: 15px;}
.water_infoBox .water_price > div {flex: 1;padding: 15px;border-radius: 15px;}
.water_infoBox .water_price .left {background: #ffffff90;}
.water_infoBox .water_price .left .water_badge {padding: 5px 9px;font-size: 14px;color: #ffffff;background: #414141;border-radius: 5px;}
.water_infoBox .water_price .left > p {margin-top: 12px;}
.water_infoBox .water_price .left > p span {padding-right: 10px;font-size: 18px;font-weight: 700;color: #000000;}
.water_infoBox .water_price .left .price {margin-top: 25px;text-align: right;}
.water_infoBox .water_price .left .price span {font-family: "oneMobileTitle";font-size: 25px;padding-right: 13px;color: #1A5CD0;}

.water_infoBox .water_price .right {background: #ffffff;}
.water_infoBox .water_price .right .water_badge {padding: 5px 9px;font-size: 14px;color: #000000;background: #F4F4FC;border-radius: 5px;}
.water_infoBox .water_price .right .waterData {position: relative;display: flex;justify-content: space-between;padding: 10px;font-size: 14px;}
.water_infoBox .water_price .right .waterData .dashed {flex: 1;position: relative;}
.water_infoBox .water_price .right .waterData .dashed::after {content: "";width: 100%;height: 1px;border-bottom: 1px dashed #00000015;position: absolute;top: 40%;left: 0;}
.water_infoBox .water_price .right .waterData .st .icon {background:url("../images/ico_1.png") no-repeat center;}
.water_infoBox .water_price .right .waterData .fi .icon {background:url("../images/ico_2.png") no-repeat center;}

.water_infoBox .water_price .right .waterData .icon {width: 55px;height: 55px;margin: 0 auto;border: 1px solid #00000015;background-color: #ffffff;border-radius: 5px;}
.water_infoBox .water_price .right .waterData p {text-align: center;}

.water_infoBox .water_state {margin-top: 15px;}
.water_infoBox .water_state .item {display: flex;justify-content: space-between;align-items: center;padding: 8px;margin-bottom: 15px;background-color: #ffffff;border-radius: 10px;}
.water_infoBox .water_state .item .state_badge {display: inline-block;padding: 9px 19px;color: #ffffff;background-color: #80C85D;border-radius: 8px;line-height: 1.2;}
.water_infoBox .water_state .item:last-child {margin-bottom: 0;}
.water_infoBox .water_state .item:nth-child(2) .state_badge {background-color: #0AA4B4;}
.water_infoBox .water_state .item:last-child .state_badge {background-color: #09408A;}

@media (max-width: 1300px) {
    .water_info {width: 425px;}
    .water_info .water_search {flex-direction: column;}
    .water_info .water_search .text {padding-bottom: 5px;}

    .water_info .water_infoBox {padding: 20px;}
    .water_infoBox .water_price .left .price {margin-top: 0;}
    .water_infoBox .water_price .left > p span {font-size: 16px;}
    .water_infoBox .water_price .right .waterData {padding-bottom: 0;}
    .water_infoBox .water_price .right .waterData .icon {width: 45px;height: 45px;}

    .water_infoBox .water_state .item .state_badge {padding: 5px 15px;font-size: 14px;}
    
}
@media (max-width: 1100px) {
    .water_info {width: 100%;}
    .water_info .water_search {flex-direction: row;}
}
@media (max-width: 767px) {
    .water_info .water_search {flex-direction: column;align-items: flex-start;position: relative;}
    .water_info .water_search .text {font-size: 18px;}
    .water_info .water_search .btn {display: none;}
    .water_info .water_search .btn_location {display: block; position: absolute;bottom:0; right:0; width: 32px;height: 32px; background: #6A6A6A url("../images/ico_location_w.svg") no-repeat center;border-radius: 8px;}

    .water_info .water_infoBox {padding: 15px;}
    .water_infoBox .water_price {flex-direction: column;gap:10px;}
    .water_infoBox .water_price .left {position: relative;}
    .water_infoBox .water_price .left .price {position: absolute;bottom: 10px;right: 20px;}
    .water_infoBox .water_price .right .waterData {padding: 10px 20px 0 20px;}

    .water_infoBox .water_state {margin-top: 10px;}
    .water_infoBox .water_state .item {margin-bottom: 10px;}
    .water_infoBox .water_state .item em {font-size: 13px;color:#595959;}
}



/* 자주찾는 서비스 */
.quick_link_wrap {flex: 1;}
.quick_link1 {display: flex;flex-wrap: wrap;   gap: 20px;}
.quick_link1 .item {position: relative;display: flex;justify-content: center;align-items: center;height: 120px;flex: 1 1 40%;border-radius: 15px;background-repeat: no-repeat;font-family: "oneMobileTitle";font-size: 18px;color: #ffffff;overflow: hidden;}
.quick_link1 .item:first-child {background-image: url("../images/quick1.jpg");background-size: 470px;background-position: -23px center;}
.quick_link1 .item:nth-child(2) {background-image: url("../images/quick2.jpg");background-size: 670px;background-position: center -225px;}
.quick_link1 .item:nth-child(3) {background-image: url("../images/quick3.jpg");background-size: 470px;background-position: -23px center;}
.quick_link1 .item:last-child {background-image: url("../images/quick4.jpg");background-size: 470px;background-position: -23px center;}
.quick_link1 .item .bg {display: flex;justify-content: center;align-items: center;position: absolute;top:0;left: 0;width: 100%;height: 100%;background-color: #00000025;}

.quick_link2 {display: flex;gap: 30px;margin-top: 20px;}
.quick_link2 .item {display: block;flex: 1;height: 110px;background-color: #ffffff;border: 1px solid #00000015;border-radius: 15px;}
.quick_link2 .item > div {display: flex;flex-direction: column;align-items: center;justify-content: center;gap: 5px;height: 100%;font-size: 16px;font-weight: 600;}
.quick_link2 .item > div .ico {background-size: cover;background-repeat: no-repeat;}
.quick_link2 .item:hover {border-color:#1A5CD0;}
.quick_link2 .item:hover span {color:#1A5CD0;}
.quick_link2 .item:first-child .ico {background-image:url("../images/ico_quick1.svg");width: 45px;height: 35px;}
.quick_link2 .item:nth-child(2) .ico {background-image:url("../images/ico_quick2.svg");width: 34px;height: 39px;}
.quick_link2 .item:nth-child(3) .ico {background-image:url("../images/ico_quick3.svg");width: 40px;height: 37px;}
.quick_link2 .item:nth-child(4) .ico {background-image:url("../images/ico_quick4.svg");width: 31px;height: 40px;}
.quick_link2 .item:last-child .ico {background-image:url("../images/ico_quick5.svg");width: 33px;height: 33px;}
.quick_link2 .item:hover:first-child .ico {background-image:url("../images/ico_quick1_on.svg");}
.quick_link2 .item:hover:nth-child(2) .ico {background-image:url("../images/ico_quick2_on.svg");}
.quick_link2 .item:hover:nth-child(3) .ico {background-image:url("../images/ico_quick3_on.svg");}
.quick_link2 .item:hover:nth-child(4) .ico {background-image:url("../images/ico_quick4_on.svg");}
.quick_link2 .item:hover:last-child .ico {background-image:url("../images/ico_quick5_on.svg");}

@media (max-width: 1400px) {
    .quick_link2 {gap: 20px;}
}
@media (max-width: 1200px) {
    .quick_link1 {gap: 10px;}
    .quick_link2 {gap: 10px;}
}
@media (max-width: 767px) {
    .quick_link1 {display: none;}
    .quick_link2 {gap:0;}
    .quick_link2 .item {border:0;}
}



/* 공지사항 섹션 */
.notice_wrap {flex: 1;}
.notice {/* 공지사항 */position: relative;margin-bottom: 45px;}
.notice ul li {margin-bottom:15px;}
.notice ul li a {display: flex;align-items: center;gap: 20px;}
.notice ul li a .ico {width: 40px;height: 40px;background-color: #F4F4FC;background-image: url("../images/ico_notifi.svg");background-repeat: no-repeat;background-position: center;border-radius: 8px;}
.notice ul li a p {flex-grow: 1;}
.notice ul li a:hover p {text-decoration: underline;}
.notice ul li a span {flex-shrink: 0;width: 100px;text-align: right;}
.notice .notice_more_btn {position: absolute;top: 0;right: 0;display: block;width: 34px;height: 34px;background-color: #F2F2F2;background-image: url("../images/ico_add.svg");background-repeat: no-repeat;background-position: center;border-radius: 50%;}
.notice.major_river ul li a .ico {background-image: url("../images/ico_list2.svg");}




/*---- footer ----*/
.footer {background-color: #FAFAFA;border-top: 1px solid #00000010;}
.footer_etc {border-bottom: 1px solid #00000010;}
.footer_inner {display: flex;justify-content: space-between;align-items: center;padding: 25px 0;}
.footer_etc .f_logo {color: #000000;font-weight: 700;font-size: 16px;height: 50px;margin-right: 35px;float: left;}
.footer_etc span {float: left;}
.footer_etc .fmy_btn {width: 230px;padding: 10px 20px;border-radius: 8px;border: 1px solid #00000015;background:url("../images/ico_down.svg") no-repeat;background-position: 190px center;}

.fmy_box {display: flex;justify-content: flex-end;max-width: 1400px;margin: 0 auto;opacity: 0;height: 0;overflow: hidden;}
.fmy_box.open {opacity: 1;height: auto;border: 0;padding: 30px 0;}
.fmy_box > div {min-width: 280px;padding: 0 20px;border-right: 1px solid #00000015;}
.fmy_box > div:last-child {border: 0;}
.fmy_box > div p {font-size: 16px;font-weight: 600;color: #333333;margin-bottom: 15px;}
.fmy_box ul li {font-size: 14px;color: #333333;margin-bottom: 5px;}
.fmy_box .fmy_grid {display: grid;grid-template-columns: repeat(4, 100px);}
@media (max-width: 767px) {
    .footer_inner {flex-direction: column-reverse;}
    .footer_inner > div {text-align: center;}
    .footer_etc .f_logo {float: unset;height: auto;padding: 20px 0 10px;margin: 0;}

    .fmy_box {flex-direction: column;}
    .fmy_box > div {padding-bottom: 20px;border-right: transparent;}
    .fmy_box > div > ul {display: grid;grid-template-columns: repeat(2, 50%);}
}



/*---- SUB CONTENTS ----*/

.contents_half {display: flex;gap: 20px;}
.contents_half > div {width: 50%;}
@media (max-width: 991px) {
    .contents_half {flex-direction: column;gap: 40px;}
    .contents_half > div {width: 100%;}
}


/* 우리집 수돗물 */
.ourWater {display: flex;column-gap: 20px;}
.ourWater > div {flex: 1;}
.ourWater .title {padding: 13px 0;text-align: center;border-radius: 5px;}
.ourWater .title.bg_blue {background-color: #C1E8EC;}
.ourWater .title.bg_green {background-color: #DFF1D6;}
.ourWater .ourWaterCon {display: flex;align-items: center;padding: 10px;border-bottom: 1px solid #4b4b4b4b;}
.ourWater .ourWaterCon .left {width: 180px;text-align: center;}
.ourWater .ourWaterCon .left p {font-size: 24px;font-weight: 700;color: #1A5CD0;padding-top: 10px;}
.ourWater .ourWaterCon .left p span {font-size: 16px;font-weight: 400;color: #333333;padding-left: 8px;}
.ourWater .ourWaterCon .right {flex: 1;}
.ourWater .ourWaterCon .icon {display: flex;align-items: center;justify-content: center;width: 55px;height: 55px;margin: 0 auto;border: 1px solid #0445BA;border-radius: 5px;vertical-align: middle;}

.water_region_info .title {display: flex; justify-content: space-between;}
.water_region_info .region_select span {padding-right: 22px;background:url("../images/ico_right.svg") no-repeat right center;}
.water_region_info .waterData {position: relative;display: flex;justify-content: center;padding: 20px 0;}
.water_region_info .waterData a.icon {display: flex;align-items: center;justify-content: center;width: 55px;height: 55px;margin: 0 auto;border: 1px solid #0445BA;background-color: #ffffff; border-radius: 5px;vertical-align: middle;}
.water_region_info .waterData p {text-align: center;}
.water_region_info .waterData p span {color: #0445BA;font-weight: 500;}
.water_region_info .waterData .dashed {width: 90px;position: relative;}
.water_region_info .waterData .dashed::after {content: "";width: 100%;height: 1px;border-bottom: 1px dashed #00000015;position: absolute;top: 40%;left: 0;}

@media (max-width: 991px) {
    .ourWater .ourWaterCon {flex-direction: column;}
    .ourWater .ourWaterCon > div {width: 100%;}
}
@media (max-width: 767px) {
    .ourWater {flex-direction: column;row-gap: 20px;}
    .ourWater .ourWaterCon {border-color: transparent;}
}



/* 서브 컨텐츠 내 지도영역 */
.contents_map_wrap {position: relative;border:1px solid #C9C9C9;height: 460px;}
.contents_map_wrap .contents_map_tail {padding: 15px 15px;color: #09408A;background-color: #E7ECF4;text-align: right;}
.contents_map {height: 100%;}


/* 차트 선택 버튼 */
ul.chart_add {display: flex;margin-right: 5px;border-radius: 3px;overflow: hidden;background-color: #efefef;}
ul.chart_add li {line-height: 1px;}
ul.chart_add li a {display: inline-block;width: 28px;height: 28px;background-color: #e5e5e5;background-repeat: no-repeat;background-position: center;opacity: .3;}
ul.chart_add li:hover a {background-color: #c0c0c0;opacity: .5;}
ul.chart_add li.on a {background-color: #ffffff;border-radius: 3px;border:1px solid #ebebeb;opacity: 1;}
ul.chart_add li.ico_chart a {background-image: url("../images/ico_chart.svg");}
ul.chart_add li.ico_lineChart a {background-image: url("../images/ico_lineChart.svg");}


/* 컨텐츠 검색 박스 */
.search_group {display: flex;justify-content: center;padding: 20px 30px; background-color: #E7ECF4;}
.search_group label {display: none;}
.search_group select,
.search_group input {min-width: 110px;height: 34px;border-radius: 3px;border-color: #09408A;background: #ffffff;}
.search_group button {height: 100%; margin: 0 5px; padding: 0 15px;background: #09408A;color: #ffff;border-radius: 3px;font-size: 14px;}
.search_group > div {margin: 0 5px;}
@media (max-width: 991px) {
    .search_group {flex-direction: column;row-gap: 10px;}
    .search_group label {display: inline-block;width: 90px;color: #1e3f88;}
    .search_group button {padding: 9px 15px;}
}
@media (max-width: 767px) {
    .search_group {align-items: flex-start;padding: 20px;}
    .search_group label {display: block;}
}


/* 컨텐츠 검색 디테일 박스 */
.search_detail_box {padding: 0 30px 20px; background-color: #E7ECF4;}
.search_detail_box ul {display: flex;justify-content: center;}
.search_detail_box ul li a {display: inline-flex;align-items: center;font-weight: 500;gap: 6px;padding: 8px 12px;color: #555555;line-height: 1;white-space: nowrap;}
.search_detail_box ul li a::before {content: "";flex: 0 0 auto;display: inline-block;width: 6px;height: 6px;border-radius: 50%;background-color: #BBBBBB;}
.search_detail_box ul li:hover a {text-decoration: underline;}
.search_detail_box ul li.active a {border-radius: 3px;font-weight:400;color:#ffffff;background-color: #09408A;}
.search_detail_box ul li.active a::before {width: 16px;height: 16px;border-radius: 0;background:url("../images/ico_check_w.svg") no-repeat center;}
.search_detail_box ul li.active:hover a {text-decoration: none;}
@media (max-width: 991px) {
    .search_detail_box ul {padding-top: 18px;border-top: 1px solid #b5cae1;}
}
@media (max-width: 767px) {
    .search_detail_box {padding: 0 20px 20px;}
    .search_detail_box ul {justify-content: flex-start;}
    .search_detail_box ul li a {font-size: 14px;}
}



/* 검색 결과 텍스트 */
.search_text {padding: 20px 0;font-size: 20px;text-align: center;color: #333333;}
.search_text .se_ct {font-weight: 700;}
.search_text .se_re {color: #09408A;font-weight: 600;}
@media (max-width: 767px) {
    .search_text {font-size: 18px;}
}


.total {display: flex;}
.total span {padding-left: 30px;color:#333333;}
.total span em {font-weight: 600; color: #000000;}




/* Modal- popup */
.modal {display: none;position: fixed;z-index: 100;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgba(0, 0, 0, 0.4);}
.modalPopup {position: absolute;top: 50%;left: 50%;width: 650px; transform: translate(-50%,-50%); background-color: #ffffff;border-radius: 5px;overflow: hidden;}
.modalPopup .modalPopup_header {display: flex; justify-content: space-between;padding: 10px 15px;background-color: #333333;color: #ffffff;}
.modalPopup .modalPopup_contents {padding: 15px;max-height: 600px;overflow-y: auto;}
.modalPopup .modalPopup_contents .popCtitle {display: inline-block; font-weight: 500;color: #000000;margin-bottom: 10px;}
.modalPopup.popWidth1 {width: 870px;}
.modalPopup .btn_ico_download {margin-top: 0;}
@media (max-width: 1200px) {
    .modalPopup.popWidth1 {width: 650px;}
}
@media (max-width: 767px) {
    .modalPopup,
    .modalPopup.popWidth1 {width: calc(100% - 30px);}
    .modal.full .modalPopup {width: auto;
        top: 150px;
        left: 15px;
        right: 15px;transform: translate(0px, 0px);}
}

.popup_sns {display: flex;}
.popup_sns li {width: 30px;height: 30px;margin-left: 5px;}
.popup_sns li a {display: inline-block;width: 100%;height: 100%;background: url("../images/sns_icon.jpg") no-repeat;border-radius: 3px;}
.popup_sns li.sns_k a {background-position: 0 0;}
.popup_sns li.sns_x a {background-position: -60px 0;}
.popup_sns li.sns_f a {background-position: -120px 0;}
.popup_sns li:hover.sns_k a {background-position: -30px 0;}
.popup_sns li:hover.sns_x a {background-position: -90px 0;}
.popup_sns li:hover.sns_f a {background-position: -150px 0;}


.popStyle_half {display: flex; gap: 30px;}
.popStyle_half .left {width: 100%;}
.popStyle_half .modal_map {width: 340px; height: 300px; border: 1px solid #ddd;}
@media (max-width: 1200px) {
    .popStyle_half {flex-direction: column;}
    .popStyle_half .modal_map {width: 100%;}
}

.popSlider_wrap {position: relative;overflow: hidden;}
.popSlider_wrap .popSlider .slick-arrow {position: absolute;top: 0;width: 60px;height: 100%; background-color: rgba(0, 0, 0, 0.4);background-repeat: no-repeat; background-position: center; z-index: 1;text-indent: -9999px;color:transparent;}
.popSlider_wrap .popSlider .slick-arrow.slick-prev {left: 0;background-image:url("../images/page_prev_w.svg");}
.popSlider_wrap .popSlider .slick-arrow.slick-next {right: 0;background-image:url("../images/page_next_w.svg");}
.popSlider_wrap .popSlider .slide {position: relative; height: 460px;}
.popSlider_wrap .popSlider .slide img {position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);width: 100%;height: 100%;object-fit: cover;object-position: center;}
.popSlider_wrap .pop_custom_paging {display: inline-block;position: absolute;top: 0;left: 50%;transform: translate(-50%,5px);padding: 3px 8px;background-color: rgba(0, 0, 0, 0.6);color: #ffffff;font-size: 14px;border-radius: 5px;}



/*  */
.waterPool_list {display: flex;column-gap: 20px;}
.waterPool_list .item {position: relative;overflow: hidden;border-radius: 8px;}
.waterPool_list .item:hover .img {filter: blur(10px);}
.waterPool_list .item:hover .txt_box {transform: translateY(0);}
.waterPool_list .item .txt_box {position: absolute; left: 0;bottom: 0;width: 100%;padding: 20px;color: #fff;transform: translateY(calc(100% + -70px));transition: transform 0.5s;z-index: 3;}
.waterPool_list .item .txt_box .tit {font-size: 20px;font-weight: 600;}
.waterPool_list .item .txt_box .txt {margin-top: 30px;font-size: 14px;}
.waterPool_list .item .hover_box {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.4);z-index: 2;transition: opacity 0.3s ease-in-out;opacity: 0;}
.waterPool_list .item:hover .hover_box {opacity: 1;}
@media (max-width: 991px) {
    .waterPool_list {flex-wrap: wrap; row-gap: 20px;}
    .waterPool_list .item {width: calc(50% - 10px);height: 140px;}
    .waterPool_list .item .txt_box .txt {margin-top: 20px;}
}
@media (max-width: 767px) {
    .waterPool_list {gap:10px;}
    .waterPool_list .item {width: calc(50% - 5px);height: 120px;}
    .waterPool_list .item:hover .img {filter: blur(0px);}
    .waterPool_list .item:hover .txt_box {transform: translateY(calc(100% + -70px));}
    .waterPool_list .item .txt_box .tit {font-size: 18px;}
    .waterPool_list .item .hover_box {display: none;}
}


/* process */
.process_box {display: flex;flex-wrap: wrap;gap: 15px;}
.process_box li {width: calc(100%/3 - 15px);}
.process_box li .item {display: flex;justify-content: center;align-items: center;position: relative;padding: 20px 0;height: 100%;border: 1px solid #ededed;text-align: center;border-radius: 5px;box-shadow: 3px 3px 5px rgba(0, 0, 0, .05);}
.process_box li .item::after {content:"";position: absolute;top: 50%;right: -20px; display: block;width: 20px;height: 20px;background:url("../images/page_next.svg") no-repeat center;transform: translateY(-50%);z-index: 1;opacity: .4;}
.process_box li:nth-child(3n) .item::after,
.process_box li:last-child .item::after {opacity: 0;}
.process_box li .item span {position: absolute;top: 6px;left: 20px;font-size: 16px;font-weight: 500;color: #8ea7ce;opacity: .6;}
.process_box li .item em {display: block;font-size: 15px;color: #8b8b8b;}

.process_box.box4 li {width: calc(100%/4 - 15px);}
.process_box.box4 li:nth-child(4n) .item::after {opacity: 0;}
.process_box.box4 li:nth-child(3n) .item::after {opacity: .4;}
@media (max-width: 991px) {
    .process_box {gap:10px;}
    .process_box li,
    .process_box.box4 li {width: 100%;}
    .process_box li .item::after {display: none;}
}


/* 팔당전망대 소개 */
.pd_info {display: flex;gap: 30px;}
.pd_info .info_box {display: flex;align-items: center;}
.pd_info .info_box dl dt {display: inline-block;padding: 1px 10px;margin-bottom: 5px; border-radius: 3px;color: #ffffff;font-weight: 500;background-color: #0a55a5;}
@media (max-width: 767px) {
    .pd_info {flex-direction: column;}
}


.pd_info_link_wrap {padding-top: 50px;position: relative;}
.pd_info_link_wrap::after {content: "";position: absolute;bottom: 0;right: 13em;display: block; width: 270px;height: 198px;background: url("../images/info_bg.png") no-repeat center;}
.pd_info_link {background-color: #214f9f;padding: 30px 10em;border-radius: 10px;}
.pd_info_link p {margin-bottom: 12px;font-size: 20px;font-weight: 600;color:#ffffff;}
.pd_info_link a {display: inline-block;padding: 7px 12px;color: #fff;border: 1px solid #fff;}
.pd_info_link a:hover {background: #ffffff26;}
@media (max-width: 991px) {
    .pd_info_link_wrap::after {right: 9em;}
}
@media (max-width: 767px) {
    .pd_info_link_wrap {padding: 0;}
    .pd_info_link_wrap::after {display: none;}
    .pd_info_link {padding:30px;text-align: center;}
}


.pd_ {display: flex;gap: 30px;}
.pd_ .pd_left {display: flex;flex-direction: column;gap: 20px;}
.pd_ .pd_right {width: calc(100% - 130px);}
@media (max-width: 991px) {
    .pd_ {flex-direction: column;}
    .pd_ .pd_left {flex-direction: row;}
    .pd_ .pd_right {width: 100%;}
}



.visit_list {display: flex;padding: 20px 0 35px;}
.visit_list li {flex: 1;text-align: center;}
.visit_list li p {margin-bottom: 10px;font-size: 20px;font-weight: 500;color: #09408A;}
.visit_list li:not(:last-child) {border-right: 1px dashed #ddd;}
@media (max-width: 767px) {
    .visit_list {flex-direction: column;padding-top:0;}
    .visit_list li {padding: 30px 0;}
    .visit_list li:not(:last-child) {border-bottom: 1px dashed #ddd;border-right: 0;}
}



.tour_wrap .item {padding: 0 20px;}
.tour_wrap .item > img {margin: 0 auto;}
.tour_wrap .item .con {display: flex;justify-content: space-between;margin-top: 20px;}
.tour_wrap .item .con .num {display: flex;align-items: center;justify-content: center;width: 40px;height: 40px;border-radius: 100%;color: #1e3f88;font-weight: 700;background-color: #f7f9fc;}
.tour_wrap .item .con .txt {width: calc(100% - 50px);}
.tour_wrap .item .con h6 {font-size: 18px;font-weight: 600;color: #000;padding-bottom: 10px;padding-top: 10px;}
.tour_wrap .item .con p {font-size: 14px;color: #333;}
.tour_wrap .slick-arrow {position: absolute;top: 6em;width: 50px;height: 50px;text-indent: -9999px;background-color:#00000010; background-position: center;background-repeat: no-repeat;z-index: 1;border:1px solid #ddd;border-radius: 50%;}
.tour_wrap .slick-prev {left: 0;background-image: url("../images/page_prev.svg");}
.tour_wrap .slick-next {right: 0;background-image: url("../images/page_next.svg");}

.tour_wrap.no_slide {display: flex;}
.tour_wrap.no_slide .item {width: calc(100% / 3);}
.tour_wrap.no_slide .item > img {margin: 0 auto;}
.tour_wrap.no_slide .item .con {text-align: left;}
@media (max-width: 991px) {
    .tour_wrap.no_slide .item {width: calc(100% / 2);}
}
@media (max-width: 767px) {
    .tour_wrap.no_slide {flex-direction: column;}
    .tour_wrap.no_slide .item {width: 100%;text-align: center;}
}


.address_info {display: flex;justify-content: space-between;}
.address_info .img {width: 50%;}
.address_info .img > img {border: 1px solid #ddd;position: sticky;top: 20px;}
.address_info .add_info_con {width: calc(50% - 20px);}
.address_info .title {padding-bottom: 10px;}
.address_info .title span {position: relative;padding-right: 15px;color: #1e3f88;font-weight: 500;}
.address_info .title span::after {content: "";display: block; height: 13px;width: 1px;background: #1e3f88;position: absolute;top: 3px;right: 6px;}
@media (max-width: 991px) {
    .address_info {flex-direction: column;}
    .address_info .img {width: 100%;text-align: center;}
    .address_info .img > img {position: relative;top:0;}
    .address_info .add_info_con {width: 100%;padding-top: 50px;}
}



/* 환경 용어 */
.dic_search {display: flex;justify-content: center;padding:30px;margin-bottom: 40px;background: #F3F7FA;border: 1px solid #D3DFEB;}
.dic_search .inner {width: 70%;}
.dic_search .dic_search_btn {position: relative;}
.dic_search .dic_search_btn input {width: 100%;height: 50px;padding-left: 30px;padding-right: 80px;border: 1px solid #D3DFEB;border-radius: 5em;}
.dic_search .dic_search_btn button {position: absolute;top: 0;right: 0;width: 60px;height: 50px;background: url("../images/ico_search2.svg") no-repeat center center;}
.dic_search .dic_keybox {padding-top: 30px;}
.dic_search .dic_keybox > div {display: flex;}
.dic_search .dic_keybox p {width: 20%;color: #0A50A1;}
.dic_search .dic_keybox ul {width: 80%;display: flex;flex-wrap: wrap;gap: 5px;}
.dic_search .dic_keybox ul li a {display: inline-block;width:33px;border:1px solid #D3DFEB;text-align: center;background: #ffffff;color:#6f6f6f;border-radius: 3px;}

.dic_list li {padding: 15px 20px;margin-bottom: 10px;background: #ffffff;border:1px solid #D3DFEB;border-radius: 8px;}
.dic_list li .title {padding-bottom: 8px;color: #0A50A1;font-size: 18px;font-weight: 600;}
.dic_list li .con {line-height: 1.6;}
@media (max-width: 991px) {
    .dic_search .inner {width: 100%;}
    .dic_search .dic_keybox > div {flex-direction: column;}
    .dic_search .dic_keybox ul {width: 100%;}
}


/* 환경 상식 */
.eco_wrap .eco_mobile_btn {
    display: none;
    font-size: 16px;
    color: #7b7b7b;
    border: 0;
    background-color: #fafafa;
    padding: 15px 12px;
    background: #fafafa url(../images/lnb-arw.png) no-repeat right 10px center;
    -webkit-background-size: auto 9px;
    background-size: auto 9px;
    width: 100%;
    border: 1px solid #cccccc;
    text-align: left;}
.eco_wrap .eco_drop {display: flex;flex-wrap: wrap;gap: 5px;}
.eco_wrap .eco_drop li a {display:table;width: 100%;padding: 8px 12px; border:1px solid #ddd;text-align: center;}
.eco_wrap .eco_drop li:hover a {border-color:#09408A;background-color: #f7f9fc;}
.eco_wrap .eco_drop li.active a {border-color:#09408A;background-color: #09408A;color:#ffffff;}
.eco_con_wrap {padding-top: 50px;}
.eco_con_wrap .eco_con {display: none;padding: 30px 20px;background-color: #f7f9fc;border-top:1px solid #09408A;}
.eco_con_wrap .eco_con.active {display: block;}
.eco_con_wrap .eco_con h4 {padding-bottom: 20px;color:#09408A;font-weight: 600;}
.eco_con_wrap .eco_con .eco_txt_con {padding: 20px;background: #ffffff;}

@media (max-width: 767px) {
    .eco_wrap .eco_mobile_btn  {display: block;}
    .eco_wrap .eco_drop {display: none; height: 294px;overflow-y: auto;}
    .eco_wrap .eco_drop li a {text-align: left;}
}



/* 통합검색 페이지 */
.total_search {padding: 40px;box-shadow: 0 2px 8px rgba(0, 0, 0, .08);}
.total_search .inner {width: 710px;margin: 0 auto;}
.total_search .inner .total_search_bar {border-bottom: 2px solid #1A5CD0;display: flex;justify-content: space-between;margin-bottom: 40px;}
.total_search .inner .total_search_bar input {padding-left: 8px;border: none;height: 50px;padding-right: 12px;background: #ffffff;color: #000000;width: 650px;font-size: 1.6rem;}
.total_search .inner .total_search_bar button {width: 40px;height: 40px;background: url("../images/ico_search2.svg") no-repeat center center;}
.total_search .search_detail_wrap {margin-top: 35px;padding-top: 15px;border-top: 1px solid #ddd;}
.total_search .search_detail_wrap .input {width: 170px;padding-top: 5px;padding-bottom: 5px;border-color: #00000015;border-radius: 5px;}

.total_search .search_detail_wrap .search_detail_calendar {display: flex;align-items: center;}
.total_search .search_detail_wrap .scbtwrap {display: flex;margin-left: 30px;}
.total_search .search_detail_wrap .scbtwrap .scbtnn {position: relative;padding: 0 10px;font-size: 14px;color: #808080;}
.total_search .search_detail_wrap .scbtwrap .scbtnn.active {color: #0445BA;font-weight: 600;text-decoration: underline;}

.total_recommend {display: flex; flex-wrap: wrap;}
.total_recommend .title {padding-right: 20px;color: #000000;font-weight: 600;}
.total_recommend .recommend_con a {padding: 5px 12px; background-color: #fff;border: 1px solid #d7d7d7;font-size: 14px;border-radius: 5em;}

.total_search_result {margin-top: 50px;}
.total_search_result .srh_result {margin-bottom: 30px;font-size: 20px;}
.total_search_result .srh_h5 {font-weight: 600;color: #000000;}
.total_search_result .srh_section:not(:last-child) {margin-bottom: 4em;}

.srh_list {border-top: 2px solid #1e3f88;}
.srh_list li {padding: 20px;border-bottom: 1px solid #d7d7d7;}
.srh_list li .s-title {font-weight: 600;}
.srh_list li .s-title:hover {color: #000000;}
.srh_list li p {color: #333333;font-size: 14px;}

@media (max-width: 991px) {
    .total_search {padding:20px}
    .total_search .inner {width: 100%;}
    .total_search .inner .total_search_bar input {width: 100%;}
    .total_recommend .recommend_con {display: flex; flex-wrap: wrap;}

    .total_search .search_detail_wrap .search_detail_calendar {flex-direction: column-reverse;align-items: flex-start;row-gap: 10px;}
    .total_search .search_detail_wrap .scbtwrap {margin: 0;}
}


/* chart */
.chart_twin {display: flex;gap: 30px;}
.chart_twin > div {width: 50%;}
@media (max-width: 991px) {
    .chart_twin {flex-direction: column;}
    .chart_twin > div {width: 100%;}

}



/* MAP legend */
.map_title {position: absolute;bottom: 10px;right: 10px;display: inline-block;padding: 5px 10px;background-color: #093f88;color: #ffffff;border-radius: 3px;}

.map_pop {position: absolute;top: 10px;left: 10px;background: #ffffff;border-radius: 5px;overflow: hidden;border:1px solid #ddd;}
.map_pop .map_pop_title {display: flex;justify-content: space-between;padding: 5px 3px 5px 10px;background-color: #333333;color: #ffffff;}
.map_pop .map_pop_con {padding: 10px;}
.map_pop .map_pop_con dl dt {display: inline;color:#000000;margin-right: 5px;}
.map_pop .map_pop_con dl dd {display: inline;}

.map_legend {position: absolute;bottom: 10px;right: 10px;padding: 8px 12px;background-color: #00000066;color: #ffffff;border-radius: 3px;}
.map_legend ul li {line-height: 16px;}
.map_legend ul li span {font-size: 14px;}
.map_legend ul li span::before {content:"";display: inline-block;width: 17px;height: 20px;margin-right: 5px;vertical-align: middle;}

    /* type1 */
    .map_legend.type1 ul li:nth-child(1) span::before {background-color: #000867;}
    .map_legend.type1 ul li:nth-child(2) span::before {background-color: #222777;}
    .map_legend.type1 ul li:nth-child(3) span::before {background-color: #444887;}
    .map_legend.type1 ul li:nth-child(4) span::before {background-color: #666999;}
    .map_legend.type1 ul li:nth-child(5) span::before {background-color: #888aa9;}
    .map_legend.type1 ul li:nth-child(6) span::before {background-color: #aaabba;}
    .map_legend.type1 ul li:nth-child(7) span::before {background-color: #cccccc;}

    /* type2 */
    .map_legend.type2 ul li:nth-child(1) span::before {background-color: #0e4000;}
    .map_legend.type2 ul li:nth-child(2) span::before {background-color: #325e20;}
    .map_legend.type2 ul li:nth-child(3) span::before {background-color: #577c40;}
    .map_legend.type2 ul li:nth-child(4) span::before {background-color: #7c9a60;}
    .map_legend.type2 ul li:nth-child(5) span::before {background-color: #a0b880;}
    .map_legend.type2 ul li:nth-child(6) span::before {background-color: #c5d6a0;}
    .map_legend.type2 ul li:nth-child(7) span::before {background-color: #eaf5c0;}

     /* type3 */
     .map_legend.type3 ul li:nth-child(1) span::before {background-color: #cd1103;}
     .map_legend.type3 ul li:nth-child(2) span::before {background-color: #d53212;}
     .map_legend.type3 ul li:nth-child(3) span::before {background-color: #dd5321;}
     .map_legend.type3 ul li:nth-child(4) span::before {background-color: #e67430;}
     .map_legend.type3 ul li:nth-child(5) span::before {background-color: #ee953f;}
     .map_legend.type3 ul li:nth-child(6) span::before {background-color: #f6b64e;}
     .map_legend.type3 ul li:nth-child(7) span::before {background-color: #ffd75d;}

.map_legend_icon {position: absolute;bottom: 10px;right: 10px;padding: 8px 12px;background-color: #00000066;color: #ffffff;border-radius: 3px;}
.map_legend_icon ul {display: flex;gap: 15px;}
.map_legend_icon ul li span {display: inline-block;width: 22px;height: 22px;background-color: #ffffff;border-radius: 50%;vertical-align: middle;text-align: center;border: 1px solid #164aa5;}
.map_legend_icon ul li span > img {width: 16px;transform: translateY(-2px);}

    /* icon legend type1 */
    .map_legend_icon.type1 ul li::before {content:"";display: inline-block;width: 10px;height: 10px;margin-right: 5px;vertical-align: middle;border-radius: 50%;}
    .map_legend_icon.type1 ul li:nth-child(1)::before {background-color: #ff69b3;}
    .map_legend_icon.type1 ul li:nth-child(2)::before {background-color: #3b964b;}

    /* icon legend type2 */
    .map_legend_icon.type2 ul li::before {content:"";display: inline-block;width: 10px;height: 10px;margin-right: 5px;vertical-align: middle;border-radius: 50%;}
    .map_legend_icon.type2 ul li:nth-child(1)::before {background-color: #1951c9;}

    /* icon legend type3 - 아이콘만 사용할 경우 */
    .map_legend_icon.type3 ul li span {display: inline-block;width: 10px;vertical-align: middle;text-align: center;border: 0;background: transparent;margin-right: 5px;}



.map_location_icon {position: absolute;width: 12px; }



/* layer Popup */
.pop-layer {display: none;position: absolute;top: 200px;left: 30px;width: 410px;height: auto;background-color: #fff;border: 2px solid #000000;z-index: 999;}

.pop-layer a.btn-popup-layerClose {display: inline-block;height: 25px;padding: 0 14px 0;border: 1px solid #304a8a;background-color: #3f5a9d;font-size: 13px;color: #fff;line-height: 25px;}
.pop-layer a.btn-popup-layerClose:hover {border: 1px solid #091940;background-color: #1f326a;color: #fff;}
.pop-layer .pop-footer {display: flex;justify-content: space-between;padding: 10px;}
